<div class="container text-center">
    <div class="d-flex justify-content-center py-5 align-items-center">
        <app-navigation></app-navigation>
    </div>

    <div class="scale-wrap d-flex justify-content-between" style="width: 415px;">
        <div>-6%</div>
        <div>0%</div>
        <div>6%</div>
    </div>

    <div class="size-container d-flex justify-content-between">
        <div class="d-flex">
            <span style="width: 38px; height: 18px; background: pink; border: 1px solid black;"></span>
            <span style="width: 38px; height: 18px; background: pink; border: 1px solid black;"></span>
            <span style="width: 38px; height: 18px; background: pink; border: 1px solid black;"></span>
            <span style="width: 38px; height: 18px; background: pink; border: 1px solid black;"></span>
            <span style="width: 38px; height: 18px; background: pink; border: 1px solid black;"></span>
            <span style="width: 38px; height: 18px; background: pink; border: 1px solid black;"></span>
            <span style="width: 38px; height: 18px; background: pink; border: 1px solid black;"></span>
            <span style="width: 38px; height: 18px; background: pink; border: 1px solid black;"></span>
            <span style="width: 38px; height: 18px; background: pink; border: 1px solid black;"></span>
            <span style="width: 38px; height: 18px; background: pink; border: 1px solid black;"></span>
            <span style="width: 38px; height: 18px; background: pink; border: 1px solid black;"></span>
        </div>
        <div >
            <span class="mr-3">Size: <span class="font-weight-bold">Market Cap (Intraday)</span></span>
            <span>Color:1 <span class="font-weight-bold">Day % of Change</span></span>
        </div>
    </div>
    <div style="height: 800px; margin-bottom: 50px;" #heatmap></div>
</div>
