<div class="container text-center">
    <div class="d-flex justify-content-center py-5 align-items-center">
        <app-navigation></app-navigation>
    </div>

    <div class="scale-wrap d-flex justify-content-between">
        <div>-6%</div>
        <div>0%</div>
        <div>6%</div>
    </div>

    <div class="size-container d-flex justify-content-between">
        <div class="d-flex scale-blocks">
            <span style="background: #EC0006;"></span>
            <span style="background: #FA2B2C;"></span>
            <span style="background: #FA4949;"></span>
            <span style="background: #FF7271;"></span>
            <span style="background: #FF9693;"></span>
            <span style="background: #CDDDD4;"></span>
            <span style="background: #09E98B;"></span>
            <span style="background: #11DD86;"></span>
            <span style="background: #0FCB74;"></span>
            <span style="background: #00BC69;"></span>
            <span style="background: #00A95B;"></span>
        </div>
        <div >
            <span class="mr-3">Size: <span class="font-weight-bold">Market Cap (Intraday)</span></span>
            <span>Color:1 <span class="font-weight-bold">Day % of Change</span></span>
        </div>
    </div>
    <div class="heatmap-container" style="height: 900px;" #heatmap></div>
</div>
