.price-down .priceColumn{
  color: red;
}
.price-up .priceColumn{
  color: green;
}
.coin-logo{
    height:22px;
    width:22px;
}
.currency{
    margin-top: 3px;
    margin-left: 5px;
    margin-right: 5px;
}

.currency-container {
    display: flex;
    align-items: center;
  }
  .crypto-symbol{
    font-weight: bold;
    color: #959595;
  }