.grid-section-title {
    font-weight: var(--kendo-font-weight-medium);
    font-size: var(--kendo-font-size-xl);
    color: var(--kendo-color-subtle);
}

.price-down .priceColumn,
.arrow-down {
    color: var(--kendo-color-error);
}

.price-up .priceColumn,
.arrow-up {
    color: var(--kendo-color-success);
}

.coin-logo {
    height: calc(var(--kendo-icon-size) * 1.375);
    width: calc(var(--kendo-icon-size) * 1.375);
}
.currency {
    margin: var(--kendo-spacing-1) var(--kendo-spacing-1\.5) var(--kendo-spacing-0) var(--kendo-spacing-1\.5);
    color: var(--kendo-color-secondary);
    font-weight: var(--kendo-font-weight-bold);
}

.currency-container {
    display: flex;
    align-items: center;
    gap: var(--kendo-spacing-1);
}
.crypto-symbol {
    color: var(--kendo-color-subtle);
}
