.contact {
    padding: var(--kendo-spacing-2) var(--kendo-spacing-3\.5);
    margin-bottom: var(--kendo-spacing-1);
    box-shadow: var(--kendo-elevation-1);
}
.contact-row {
    display: flex;
    align-items: center;
    gap: var(--kendo-spacing-4);
}
.contact h2 {
    font-size: var(--kendo-font-size-xl);
    font-weight: normal;
    margin: 0;
}
.contact p {
    margin: 0;
    font-size: var(--kendo-font-size-sm);
}
.mate-info {
    display: inline-block;
    vertical-align: top;
}
.list {
    width: 280px;
    margin: auto;
    padding: var(--kendo-spacing-1) var(--kendo-spacing-2\.5);
    box-shadow: var(--kendo-elevation-3);
}
.contact-list {
    text-align: center;
    padding: var(--kendo-spacing-1);
    font-size: var(--kendo-font-size-lg);
}
