<div class="list">
    <div class="contact-list">Contacts</div>
    @for(contact of contactInitials; track contact){
    <div class="contact">
        <div class="k-hstack">
            <kendo-avatar shape="circle" [initials]="contact.avatar"></kendo-avatar>
            <div>
                <h2>{{ contact.name }}</h2>
                <p>{{ contact.position }}</p>
            </div>
        </div>
    </div>
    } @for(contact of contactImages; track contact){
    <div class="contact">
        <div class="k-hstack">
            <kendo-avatar shape="circle" [imageSrc]="contact.avatar"></kendo-avatar>
            <div>
                <h2>{{ contact.name }}</h2>
                <p>{{ contact.position }}</p>
            </div>
        </div>
    </div>
    }

    <div class="contact">
        <div class="k-hstack">
            <kendo-avatar shape="circle" [svgIcon]="userSvg"> </kendo-avatar>
            <div class="mate-info">
                <h2>Unknown</h2>
                <p>Not specified</p>
            </div>
            <div class="k-hstack"></div>
        </div>
    </div>
</div>
