.content-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 20px;
}

.info {
    flex: 1;
    margin-right: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.component {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

kendo-grid,
kendo-upload {
    width: 100%;
}

.row p {
    margin-bottom: 10px;
}

a {
    color: var(--kendo-color-primary);
    text-decoration: underline;
}
