#app,
.k-animation-container {
    font-family: var(--kendo-font-family);
}

.k-list-item:hover,
.k-list-optionlabel:hover,
.k-list-item.k-hover,
.k-hover.k-list-optionlabel,
.k-columnmenu-item:hover {
    background-color: color-mix(in srgb, var(--kendo-color-primary) 11%, transparent);
}

.k-grid .k-table-tbody > .k-table-row:not(.k-detail-row):hover,
.k-grid .k-table-tbody > .k-table-row:not(.k-detail-row).k-hover {
    background-color: color-mix(in srgb, var(--kendo-color-primary) 16%, transparent);
}

.k-columnmenu-item.k-selected,
.k-list-item.k-selected,
.k-list-item.k-selected:hover,
.k-list-optionlabel.k-selected,
.k-list-optionlabel.k-selected:hover {
    background-color: var(--kendo-color-primary);
    color: var(--kendo-color-on-primary);
}

.k-grid .k-table-row.k-table-alt-row {
    background-color: color-mix(in srgb, var(--kendo-color-primary) 10%, transparent);
}

.k-button-flat-primary {
    color: var(--kendo-color-primary);
}

.k-button-solid-primary,
.k-button-solid-primary:hover {
    border-color: var(--kendo-color-primary);
    background-color: var(--kendo-color-primary);
}

.k-svg-icon.k-icon-lg {
    width: var(--kendo-icon-size);
    height: var(--kendo-icon-size);
}

.k-switch-on .k-switch-track {
    background-color: var(--kendo-color-primary) !important;
    color: var(--kendo-color-on-primary);
}

.k-rating-item,
.k-rating-item.k-selected {
    color: var(--kendo-color-primary-emphasis);
}

.k-slider .k-slider-selection {
    background-color: var(--kendo-color-primary-emphasis);
}

.k-slider .k-draghandle {
    border-color: var(--kendo-color-primary);
    color: var(--kendo-color-on-primary);
    background-color: var(--kendo-color-primary);
    border-radius: var(--kendo-border-radius-full);
}

.form-header {
    font-family: var(--kendo-font-family);
    font-size: var(--kendo-font-size);
    line-height: var(--kendo-line-height-md);
    font-weight: var(--kendo-font-weight-normal);
}

.header-dashboard {
    display: flex;
    flex-direction: column;
    width: min(100%, 39.375rem);
    margin: 0 auto;
    gap: var(--kendo-spacing-7\.5);
}

.header-dashboard__panels {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: var(--kendo-spacing-7\.5);
}

.header-dashboard__panel {
    max-height: 310px;
    flex: 1;
}

.k-form-buttons > .k-button-solid-primary {
    background-color: var(--kendo-color-primary);
}

@media (max-width: 991.98px) {
    .header-dashboard__panels {
        flex-direction: column;
    }

    .header-dashboard__panel {
        max-height: none;
    }
}
