#app,
.k-animation-container {
    font-family: "Roboto", sans-serif;
}

.k-list-item:hover,
.k-list-optionlabel:hover,
.k-list-item.k-hover,
.k-hover.k-list-optionlabel,
.k-columnmenu-item:hover {
    background-color: color-mix(in srgb, #5777ea 11%, transparent);
}

.k-grid .k-table-tbody > .k-table-row:not(.k-detail-row):hover,
.k-grid .k-table-tbody > .k-table-row:not(.k-detail-row).k-hover {
    background-color: color-mix(in srgb, #5777ea 16%, transparent);
}

.k-columnmenu-item.k-selected,
.k-list-item.k-selected,
.k-list-item.k-selected:hover,
.k-list-optionlabel.k-selected,
.k-list-optionlabel.k-selected:hover {
    background-color: #5777ea;
    color: #fff;
}

.k-grid .k-table-row.k-table-alt-row {
    background-color: color-mix(in srgb, #5777ea 10%, transparent);
}

.k-button-flat-primary {
    color: #5777ea;
}

.k-button-solid-primary,
.k-button-solid-primary:hover {
    border-color: #5777ea;
    background-color: #5777ea;
}

.k-svg-icon.k-icon-lg {
    width: 22.5px;
    height: 12px;
}

.k-switch-on .k-switch-track {
    background-color: #5777ea !important;
    color: #fff;
}

.k-rating-item,
.k-rating-item.k-selected {
    color: #90b6ff;
}

.k-slider .k-slider-selection {
    background-color: #90b6ff;
}

.k-slider .k-draghandle {
    border-color: #5777ea;
    color: var(--kendo-color-on-primary, white);
    background-color: #5777ea;
    border-radius: 50%;
}

.form-header {
    font-family: var(--kendo-font-family, inherit);
    font-size: var(--kendo-font-size, inherit);
    line-height: 19.88px;
    font-weight: 400;
}

.k-form-buttons > .k-button-solid-primary {
    background-color: #5777ea;
}
