<div class="panelbar-wrapper">
    <kendo-panelbar>
        <kendo-panelbar-item title="My Teammates" [expanded]="true">
            <ng-template kendoPanelBarContent>
                <div>
                    <div class="teamMate">
                        <img [src]="imageUrl('andrew')" alt="Andrew Fuller" />
                        <span class="mate-info">
                            <h2>Andrew Fuller</h2>
                            <p>Team Lead</p>
                        </span>
                    </div>
                    <div class="teamMate">
                        <img [src]="imageUrl('nancy')" alt="Nancy Leverling" />
                        <span class="mate-info">
                            <h2>Nancy Leverling</h2>
                            <p>Sales Associate</p>
                        </span>
                    </div>
                    <div class="teamMate">
                        <img [src]="imageUrl('robert')" alt="Robert King" />
                        <span class="mate-info">
                            <h2>Robert King</h2>
                            <p>Business System Analyst</p>
                        </span>
                    </div>
                </div>
            </ng-template>
        </kendo-panelbar-item>
        <kendo-panelbar-item title="Projects">
            <kendo-panelbar-item title="New Business Plan"></kendo-panelbar-item>
            <kendo-panelbar-item title="Sales Forecasts">
                <kendo-panelbar-item title="Q1 Forecast"></kendo-panelbar-item>
                <kendo-panelbar-item title="Q2 Forecast"></kendo-panelbar-item>
                <kendo-panelbar-item title="Q3 Forecast"></kendo-panelbar-item>
                <kendo-panelbar-item title="Q4 Forecast"></kendo-panelbar-item>
            </kendo-panelbar-item>
            <kendo-panelbar-item title="Sales Reports"></kendo-panelbar-item>
        </kendo-panelbar-item>
        <kendo-panelbar-item title="Programs">
            <kendo-panelbar-item title="Monday"></kendo-panelbar-item>
            <kendo-panelbar-item title="Tuesday"></kendo-panelbar-item>
            <kendo-panelbar-item title="Wednesday"></kendo-panelbar-item>
            <kendo-panelbar-item title="Thursday"></kendo-panelbar-item>
            <kendo-panelbar-item title="Friday"></kendo-panelbar-item>
        </kendo-panelbar-item>
        <kendo-panelbar-item title="Communication" [disabled]="true"></kendo-panelbar-item>
    </kendo-panelbar>
</div>
