@use '../../../styles/variables' as *;

.selected-stock-badge {
    height: $badge-height;
    color: $white;
    padding: $badge-padding;
    border-radius: var(--kendo-border-radius-full);

    span:first-child {
        margin-right: var(--kendo-spacing-2);
    }

    &.badge-positive-value {
        background: $positive-value;
    }

    &.badge-negative-value {
        background: $negative-value;
    }
}
