@use '../../../styles/variables' as *;

.header {
    display: flex;
    min-height: var(--kendo-spacing-24);
    background: url('../../../assets/header-bg.svg');
    background-position: bottom;
    background-repeat: no-repeat;

    .header-content,
    .header-controls {
        align-items: center;
        display: flex;
    }

    .header-content {
        flex-wrap: wrap;
        gap: var(--kendo-spacing-4);
        justify-content: space-between;
        padding-block: var(--kendo-spacing-4);
    }

    .header-controls {
        gap: var(--kendo-spacing-4);
    }

    h1 {
        font-family: $ubunto;
        font-weight: $font-weight-200;
        color: $white;
    }

    .profile-image {
        flex-shrink: 0;
        width: $profile-image-width;
        height: $profile-image-height;
        border-radius: var(--kendo-border-radius-full);
        background-image: url('/assets/user.jpg');
        background-size: cover;
        background-position: center;
    }

}
