.splitter {
    height: 340px;
}

.pane-content {
    padding: 0 var(--kendo-spacing-2\.5);
}
h3 {
    font-size: var(--kendo-font-size-lg);
    margin: var(--kendo-spacing-2\.5) 0;
    padding: 0;
}
p {
    margin: 0;
    padding: 0;
}
