.country-column {
    text-align: center;
}

.wrapper {
    display: flex;
    box-sizing: border-box;
    padding-bottom: var(--kendo-spacing-7\.5);
    min-height: 420px;
    justify-content: center;
    align-items: center;
}

.components-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--kendo-spacing-5);
    width: 1170px;
    justify-content: center;
    align-items: center;
}
