.wrapper {
    display: flex;
    box-sizing: border-box;
    padding-bottom: 30px;
    min-height: 420px;
    justify-content: center;
    align-items: center;
}

.components-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 1170px;
    justify-content: center;
    align-items: center;
}
