.refresh-rate-label {
    display: block;
}

.grid-wrapper {
    display: flex;
    grid: auto auto / 1fr 1fr;
    grid-gap: var(--kendo-spacing-10);
    justify-content: center;
    align-items: center;
    padding: var(--kendo-spacing-7\.5) 0;
}

.asset-type {
    display: flex;
    flex-direction: row;
    gap: var(--kendo-spacing-1\.5);
    align-items: center;
}

.red {
    color: var(--kendo-color-error);
}

.green {
    color: var(--kendo-color-success);
}

.k-grid .k-table-row.k-table-alt-row {
    background-color: transparent;
}

.status-chip-filled,
.status-chip-filled:hover {
    background-color: var(--kendo-color-info);
    border-color: var(--kendo-color-info-emphasis);
    color: var(--kendo-color-on-info);
}

.status-chip-open,
.status-chip-open:hover {
    background-color: var(--kendo-color-success);
    border-color: var(--kendo-color-success-emphasis);
    color: var(--kendo-color-on-success);
}

.status-chip-rejected,
.status-chip-rejected:hover {
    background-color: var(--kendo-color-error);
    border-color: var(--kendo-color-error-emphasis);
    color: var(--kendo-color-on-error);
}
.k-chip {
    width: 45px;
    height: 10px;
}
.k-chip-content {
    justify-content: center;
    font-weight: 400;
    font-size: var(--kendo-font-size-xs);
    font-family: var(--kendo-font-family);
}
