<h2 class="right-panel-title">News Feed</h2>
<div class="card-container">
  @for (news of newsFeedData; track news) {
    <kendo-card class="news-feed-card" width="100%">
      <kendo-card-body class="news-feed-card__body">
        <h3 kendoCardTitle class="news-feed">
          {{ news.title }}
        </h3>
        <kendo-avatar
          width="112px"
          height="60px"
          [imageSrc]="getNewsImg(news)"
          class="news-img"
        ></kendo-avatar>
      </kendo-card-body>
    </kendo-card>
  }
</div>
