<div id="app" style="display: flex; flex-direction: column; width: 630px; height: 680px; margin-left: 7px; gap: 30px">
    <div>
        <app-transactions-dashboard></app-transactions-dashboard>
    </div>
    <div style="display: flex; flex-direction: row; justify-content: space-evenly; gap: 30px">
        <div style="max-height: 310px; flex: 1">
            <app-bottom-left></app-bottom-left>
        </div>
        <div style="max-height: 310px; flex: 1">
            <app-bottom-right></app-bottom-right>
        </div>
    </div>
</div>
<!-- <app-scheduler></app-scheduler> -->
