#app,
.k-animation-container {
    font-family: 'Roboto', sans-serif;
}

.k-radio {
    border: 1px solid var(--kendo-color-border, rgba(0, 0, 0, 0.08)) !important;
}

.k-grid-table-thead {
    background-color: #fff;
}

.k-table-td.price-column {
    text-align: end;
}

.price-column-header {
    justify-content: end;
}

.k-slider .k-slider-track {
    background-color: #EBEBEB;
}

.k-grid-pager {
    border-color: var(--kendo-color-border, rgba(0, 0, 0, 0.08));
    border-width: 0px 1px 1px 1px;
    font-size: 14px;
    background-color: #fff;
}

.k-pager-numbers-wrap button {
    border-radius: 4px;
}

.k-sort-icon {
    color: #5777EA;
}

.k-list-item:hover,
.k-list-optionlabel:hover,
.k-list-item.k-hover,
.k-hover.k-list-optionlabel,
.k-columnmenu-item:hover {
    background-color: color-mix(in srgb, #5777EA 11%, transparent);
}

.k-grid .k-table-tbody>.k-table-row:not(.k-detail-row):hover,
.k-grid .k-table-tbody>.k-table-row:not(.k-detail-row).k-hover {
    background-color: color-mix(in srgb, #5777EA 16%, transparent);
}

.k-columnmenu-item.k-selected,
.k-list-item.k-selected,
.k-list-item.k-selected:hover,
.k-list-optionlabel.k-selected,
.k-list-optionlabel.k-selected:hover {
    background-color: #5777EA;
    color: #FFF;
}

.k-grid .k-table-row.k-table-alt-row {
    background-color: color-mix(in srgb, #5777EA 10%, transparent);
}

.k-button-flat-primary {
    color: #5777EA;
}

.k-button-solid-primary,
.k-button-solid-primary:hover {
    border-color: #5777EA;
    background-color: #5777EA;
}

.k-svg-icon.k-icon-lg {
    width: 22.5px;
    height: 12px;
}

.k-switch-on .k-switch-track {
    background-color: #5777EA !important;
    color: #FFF;
}

.k-rating-item,
.k-rating-item.k-selected {
    color: #90B6FF;
}

.k-slider .k-slider-selection {
    background-color: #90B6FF;
}

.k-slider .k-draghandle {
    border-color: #5777EA;
    color: var(--kendo-color-on-primary, white);
    background-color: #5777EA;
    border-radius: 50%;
}

.form-header {
    font-family: var(--kendo-font-family, inherit);
    font-size: var(--kendo-font-size, inherit);
    line-height: 19.88px;
    font-weight: 400;
}

.k-form-buttons>.k-button-solid-primary {
    background-color: #5777EA
}

.k-radio:checked,
.k-radio.k-checked {
    border-color: #5777EA;
    background-color: #5777EA;
}