.card-title {
    font-size: calc(var(--kendo-font-size-lg) * 1.1);
    font-weight: var(--kendo-font-weight-medium);
    line-height: var(--kendo-line-height-md);
    color: var(--kendo-color-on-surface);
}

.transaction-card__header {
    display: flex;
    align-items: center;
    gap: var(--kendo-spacing-2);
}

.transaction-card__avatar {
    background-color: transparent;
}
