@use "../../../styles/variables" as vars;

.action-buttons {
    padding: vars.$action-buttons-padding;
    position: fixed;
    right: vars.$action-buttons-right;
    bottom: vars.$action-buttons-bottom;
    border-radius: vars.$action-buttons-border-radius;
    background-color: vars.$white;
    box-shadow: vars.$action-buttons-shadow;

    > a {
        display: block;
        margin-bottom: 5px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .k-icon {
        margin: -3px 8px 0 0;
    }
}

@media (max-width: 767px) {
    .action-buttons {
        position: relative;
        right: auto;
    }
}
