<div class="action-buttons">
    <a class="k-button k-button-clear-base k-button-clear" href="https://github.com/telerik/kendo-angular/tree/master/examples-standalone/grid-charts-integration" target="_blank"
    role="button"><kendo-svgicon [icon]="iconDownload"></kendo-svgicon>Download on Github</a>
    <a class="k-button k-button-clear-base k-button-clear" href="https://www.telerik.com/kendo-angular-ui/components/grid/how-to/grid-charts-integration/" target="_blank"
    role="button"><kendo-svgicon [icon]="iconFileTxt"></kendo-svgicon>Documentation</a>
</div>
