<div class="example-config">
    <div class="row">
        <div class="col m-2">
            <button kendoButton (click)="loadProducts()">Load 100000 Items</button>
        </div>
    </div>

    <div class="row">
        <div class="col m-2">
            <ul class="k-radio-list">
                <li class="k-radio-item">
                    <input kendoRadioButton type="radio" #virtual [(ngModel)]="mode" value="virtual" (change)="changeMode(mode)" />
                    <kendo-label [for]="virtual" text="Virtual Scrolling"></kendo-label>
                </li>
                <li class="k-radio-item">
                    <input kendoRadioButton type="radio" #paging [(ngModel)]="mode" value="paging" (change)="changeMode(mode)" />
                    <kendo-label [for]="paging" text="Paging"></kendo-label>
                </li>
                <li class="k-radio-item">
                    <input kendoRadioButton type="radio" #virtualPaging [(ngModel)]="mode" value="virtualPaging" (change)="changeMode(mode)" />
                    <kendo-label [for]="virtualPaging" text="Virtual Scrolling + Paging"></kendo-label>
                </li>
            </ul>
        </div>
    </div>
</div>

@if (mode === 'virtual') {
<kendo-grid
    [data]="gridView"
    [skip]="state.skip"
    [pageSize]="state.take"
    [height]="420"
    [sortable]="true"
    [sort]="state.sort"
    scrollable="virtual"
    [virtualColumns]="true"
    (dataStateChange)="onChange($event)"
>
    @for (column of columns; track column.field) {
    <kendo-grid-column [field]="column.field" [title]="column.title" [width]="column.width">
    </kendo-grid-column>
    }
</kendo-grid>
}

@if (mode === 'paging') {
<kendo-grid
    [data]="gridView"
    [skip]="state.skip"
    [pageSize]="state.take"
    [pageable]="true"
    [height]="420"
    [sortable]="true"
    [sort]="state.sort"
    [virtualColumns]="true"
    (dataStateChange)="onChange($event)"
>
    @for (column of columns; track column.field) {
    <kendo-grid-column [field]="column.field" [title]="column.title" [width]="column.width">
    </kendo-grid-column>
    }
</kendo-grid>
}

@if (mode === 'virtualPaging') {
<kendo-grid
    [data]="gridView"
    [height]="420"
    [sortable]="true"
    [sort]="state.sort"
    [skip]="state.skip"
    [pageSize]="state.take"
    [pageable]="true"
    scrollable="virtual"
    [virtualColumns]="true"
    (dataStateChange)="onChange($event)"
>
    @for (column of columns; track column.field) {
    <kendo-grid-column [field]="column.field" [title]="column.title" [width]="column.width">
    </kendo-grid-column>
    }
</kendo-grid>
}
