.box {
    padding: var(--kendo-spacing-1);
    text-align: center;
    vertical-align: center;
}
.header {
    background-color: var(--kendo-color-warning-subtle);
}
.nav {
    background-color: var(--kendo-color-warning-subtle-hover);
}
.content {
    background-color: var(--kendo-color-warning-emphasis);
}
.toc {
    background-color: var(--kendo-color-warning-hover);
}
.footer {
    background-color: var(--kendo-color-warning-active);
}
