.box {
    padding: 4px;
    text-align: center;
    vertical-align: center;
}
.header {
    background-color: #fae47a;
}
.nav {
    background-color: #fbd17f;
}
.content {
    background-color: #f5bf8b;
}
.toc {
    background-color: #ebaa79;
}
.footer {
    background-color: #e39a6a;
}
