.employee-photo {
    display: inline-block;
    border-radius: 50%;
    background-size: 38px 41px;
    background-position: center center;
    vertical-align: middle;
    line-height: 32px;
}

.card-opacity {
    opacity: 0.5;
}
