@for (card of cards; track card) {
  <kendo-card
    (click)="onCardClick(card)"
    class="team-card"
    [ngClass]="{ 'card-opacity': card.selected }"
    >
    <kendo-card-header class="team-card__header">
      <kendo-avatar
          [imageSrc]="fetchAvatar(card)"
      [shape]="'circle'"
      [ngClass]="'team-card__avatar team-card__avatar--' + card.teamId"
      >
      </kendo-avatar>
      <div>
        <p kendoCardTitle [ngClass]="'team-card__title team-card__title--' + card.teamId">
          {{ card.fullName }}
        </p>
        <p kendoCardSubtitle>{{ card.jobTitle }}</p>
      </div>
    </kendo-card-header>
  </kendo-card>
}
