@for (card of cards; track card) {
  <kendo-card
    (click)="onCardClick(card)"
    class="team-card"
    [ngClass]="{ 'card-opacity': card.selected }"
    >
    <kendo-card-header class="team-card__header">
      <kendo-avatar
        width="41px"
        height="41px"
            [ngStyle]="{
                'background-image': fetchAvatar(card),
                'border-color': setCardColor(card)
            }"
        [shape]="'circle'"
        class="employee-photo"
        class="team-card__avatar"
        >
      </kendo-avatar>
      <div>
        <p kendoCardTitle [ngStyle]="{ color: setCardColor(card) }">
          {{ card.fullName }}
        </p>
        <p kendoCardSubtitle>{{ card.jobTitle }}</p>
      </div>
    </kendo-card-header>
  </kendo-card>
}
