@use "../../../styles/variables" as vars;

.header {
    height: vars.$header-height;
    background: url('../../../assets/header-bg.svg');
    background-position: bottom;
    background-repeat: no-repeat;

    h1 {
        font-family: vars.$ubunto;
        font-weight: vars.$font-weight-200;
        color: vars.$white;
    }

    .profile-wrapper {
        outline: none;
    }

    .profile-image {
        align-self: center;
        width: vars.$profile-image-width;
        height: vars.$profile-image-height;
        border-radius: 50%;
        background-image: url('../../../assets/user.jpg');
        background-size: cover;
        background-position: center;
    }
}
