<kendo-scheduler
    [kendoSchedulerBinding]="events"
    [kendoSchedulerReactiveEditing]="createFormGroup"
    [resources]="resources"
    [selectedDate]="selectedDate"
    [selectedViewIndex]="1"
    [group]="group"
    [modelFields]="modelFields"
    startTime="08:00"
    endTime="17:00"
    style="height: 600px"
>
    <kendo-scheduler-timeline-view></kendo-scheduler-timeline-view>
    <kendo-scheduler-day-view></kendo-scheduler-day-view>
    <kendo-scheduler-week-view></kendo-scheduler-week-view>
    <kendo-scheduler-month-view></kendo-scheduler-month-view>
    <kendo-scheduler-agenda-view></kendo-scheduler-agenda-view>
    <ng-template kendoSchedulerToolbarTemplate let-selectedDate="selectedDate">
        <div style="display: flex; align-items: center; width: 100%">
            <div kendoSchedulerToolbarNavigation></div>
            <span class="k-spacer"></span>
            <kendo-dropdownlist
                [data]="languages"
                textField="text"
                valueField="value"
                [(value)]="selectedLanguage"
                (valueChange)="changeLanguage($event)"
                style="width: 150px; margin-right: 8px;"
            >
            </kendo-dropdownlist>
            <div kendoSchedulerToolbarViewSelector [toolbarWidth]="1200" [responsiveBreakpoint]="600"></div>
        </div>
    </ng-template>
</kendo-scheduler>
