<kendo-scheduler
    [kendoSchedulerBinding]="events"
    [kendoSchedulerReactiveEditing]="createFormGroup"
    [resources]="resources"
    [selectedDate]="selectedDate"
    [selectedViewIndex]="1"
    [group]="group"
    [modelFields]="modelFields"
    startTime="08:00"
    endTime="17:00"
    class="scheduler"
>
    <kendo-scheduler-timeline-view></kendo-scheduler-timeline-view>
    <kendo-scheduler-day-view></kendo-scheduler-day-view>
    <kendo-scheduler-week-view></kendo-scheduler-week-view>
    <kendo-scheduler-month-view></kendo-scheduler-month-view>
    <kendo-scheduler-agenda-view></kendo-scheduler-agenda-view>
    <ng-template kendoSchedulerToolbarTemplate let-selectedDate="selectedDate">
        <div class="scheduler__toolbar">
            <div kendoSchedulerToolbarNavigation></div>
            <span class="k-spacer"></span>
            <kendo-dropdownlist
                [data]="languages"
                textField="text"
                valueField="value"
                [(value)]="selectedLanguage"
                (valueChange)="changeLanguage($event)"
                class="scheduler__language-selector"
            >
            </kendo-dropdownlist>
            <div kendoSchedulerToolbarViewSelector></div>
        </div>
    </ng-template>
</kendo-scheduler>
