// typography
$roboto: 'Roboto', Helvetica, Arial, sans-serif;
$ubunto: 'Ubuntu', sans-serif;

$font-weight-200: 200;

// colors
$white: #fff;
$black: #000;
$white-50: rgba(255, 255, 255, .5);
$text-base: #373A3C;
$border-base: #ddd;
$active-state-base: #1C7CD5;
$hover-bg: #e6e6e6;
$negative-value: #D9534F;
$positive-value: #5CB85C;
$body-base-bg: rgba(236, 238, 239, 0.5);

// margins
$margin-sm: 4px;
$margin-m: 2 * $margin-sm;

// fonts
$font-size-default: 16px;

// header
$header-height: 140px;
$profile-image-width: 58px;
$profile-image-height: 58px;

// footer
$footer-padding: 10px;
$footer-height: 43px;
$footer-font-size: $font-size-default;
$progress-logo-height: 20px;
$progress-logo-width: 100px;

// dropdownlist
$dropdownlist-font-size: $font-size-default;
$dropdownlist-item-selected-bg: #E9ECEF;
$dropdownlist-item-selected-text: $active-state-base;

$dropownlist-add-new-padding: 8px;
$dropownlist-add-new-width: 125px;
$dropownlist-add-new-height: 40px;

// grid
$grid-header-subtitle: 13px;
$grid-row-selection-bg: #007BFF;
$grid-cell-positive-color: $positive-value;
$grid-cell-negative-color: $negative-value;
$grid-sorting-icon-margin: $margin-sm;
$grid-sorting-icon-right-position: 20px;

// action buttons
$action-buttons-padding: 20px;
$action-buttons-right: 25px;
$action-buttons-bottom: 70px;
$action-buttons-border-radius: 5px;
$action-buttons-shadow: 0 2px 6px rgba(0,0,0,0.08);

// notification
$notification-margin: 30px;
