@media screen and (max-width: 991px) {
    .scale-wrap,
    .scale-blocks,
    .user-data,
    .daterange-input-wrap {
        display: none !important;
    }

}

@media screen and (max-width: 575px) {
    .profile-wrapper {
        display: none;
    }

    .header-title {
        font-size: var(--kendo-font-size-xl);
    }
}

@media screen and (max-width: 767px) {
    .dropdownlist-add-new {
        padding-left: var(--kendo-spacing-4) !important;
    }

    .profile-wrapper div:last-child {
        display: none;
    }
}
