h1 {
    font-size: var(--kendo-font-size-xl);
    font-weight: var(--kendo-font-weight-semibold);
}

h2 {
    font-size: var(--kendo-font-size-xl);
    font-weight: var(--kendo-font-weight-semibold);
}

h3 {
    font-size: var(--kendo-font-size-lg);
    font-weight: var(--kendo-font-weight-semibold);
}

h4 {
    font-size: var(--kendo-font-size-lg);
    font-weight: var(--kendo-font-weight-semibold);
}

h5 {
    font-size: var(--kendo-font-size-md);
    font-weight: var(--kendo-font-weight-semibold);
}

p {
    font-size: var(--kendo-font-size);
    line-height: var(--kendo-line-height);
}

a {
    font-size: var(--kendo-font-size);
}
