<kendo-appbar class="appbar" position="top">
    <kendo-appbar-section>
        <h1 class="title">CryptoVault</h1>
    </kendo-appbar-section>

    <kendo-appbar-spacer></kendo-appbar-spacer>

    <kendo-appbar-section class="actions">
        <div kendoTooltip [offset]="4">
            <a class="k-button k-button-flat k-text-right"
                href="https://github.com/telerik/kendo-angular/tree/master/examples-standalone/grid-live-data"
                target="_blank" role="button" title="Download on GitHub"><img src="assets/github-icon.svg"
                    alt="github icon" [style.width.px]="25" /></a>
            <a class="k-button k-button-flat k-text-right" href="https://www.telerik.com/kendo-angular-ui/components/"
                target="_blank" role="button" title="Documentation"><kendo-svg-icon class="docs-icon"
                    [icon]="fileIcon"></kendo-svg-icon></a>
        </div>
        <span class="k-appbar-separator"></span>
        <kendo-badge-container>
            <button class="k-button k-button-clear">
                <kendo-svg-icon themeColor="light" [icon]="bellIcon"></kendo-svg-icon>
            </button>
            <kendo-badge class="badge" shape="dot" size="medium" position="inside"></kendo-badge>
        </kendo-badge-container>
    </kendo-appbar-section>

    <kendo-appbar-section>
        <kendo-avatar [imageSrc]="kendokaAvatar" shape="circle" width="26px" height="26px"></kendo-avatar>
    </kendo-appbar-section>
</kendo-appbar>