<kendo-appbar class="appbar" position="top">
    <kendo-appbar-section>
        <h1 class="title">CryptoVault</h1>
    </kendo-appbar-section>

    <kendo-appbar-spacer></kendo-appbar-spacer>

    <kendo-appbar-section class="actions">
        <kendo-badge-container>
            <button class="k-button k-button-clear">
                <kendo-icon themeColor="light" name="bell"></kendo-icon>
            </button>
            <kendo-badge class="badge" shape="dot" size="medium" position="inside"></kendo-badge>
        </kendo-badge-container>
        <span class="k-appbar-separator"></span>
    </kendo-appbar-section>

    <kendo-appbar-section>
        <kendo-avatar [imageSrc]="kendokaAvatar" shape="circle" width="26px" height="26px"></kendo-avatar>
    </kendo-appbar-section>
</kendo-appbar>
