@import "../styles/variables";

.redirect-buttons {
  padding: $redirect-buttons-padding;
  position: fixed;
  right: $redirect-buttons-right;
  bottom: $redirect-buttons-bottom;
  border-radius: $redirect-buttons-border-radius;
  background-color: $white;
  box-shadow: $redirect-buttons-shadow;

  > a {
    display: block;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .k-icon {
    margin: -3px 8px 0 0;
  }
}

@media (max-width: 767px) {
  .redirect-buttons {
    position: relative;
    right: auto;
  }
}
