@import "@progress/kendo-theme-meridian/dist/all.css";

:root {
  --kendo-translucency-base: 0%;
}

html,
body {
  margin: 0;
  padding: 0;

  height: 100%;
  font-family: var(--kendo-font-family);
  font-size: var(--kendo-font-size);
  line-height: var(--kendo-line-height);
  color: var(--kendo-color-on-app-surface);
  background-color: var(--kendo-color-app-surface);
}
