.wrapper {
    padding: 1px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.items-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.item {
    display: flex;
    gap: 4px;
    flex-direction: row;
    align-items: center;
}
