/* You can add global styles to this file, and also import other style files */
body,
p {
    padding: var(--kendo-spacing-0);
    margin: var(--kendo-spacing-0);
}

body {
    height: 100%;
    min-height: 100%;
}

:root {
    --kendo-font-family: 'Roboto', sans-serif;

    --kendo-translucency-base: 30%;
    --kendo-translucency-blur-base: 4px;
    --kendo-translucency-blur-step: 2px;
}
