<div class="analytics-page">
    <h4 class="k-h4 page-title">{{ customMsgService.translate('analytics') }}</h4>

    <div
        class="analytics-panel cashflow-panel"
    >
        <div class="cashflow-heading">
            <h6 class="k-h6 panel-title">{{ customMsgService.translate('moneyCashflow') }}</h6>
            <kendo-dropdownlist
                class="cashflow-period-selector"
                [data]="drillDownLevels"
                [value]="activeSeries"
                (valueChange)="onDrilldownLevelChange($event)"
                [textField]="'text'"
                [valueField]="'value'"
                [valuePrimitive]="false"
                [(value)]="defaultItem"
                [itemDisabled]="itemDisabled"
            ></kendo-dropdownlist>
        </div>
        <div class="analytics-content">
            <kendo-chart
                #instance
                (drilldown)="onDrilldown($event)"
                [(drilldownLevel)]="drilldownLevel"
                [style.height.px]="500"
            >
                <kendo-chart-category-axis>
                    <kendo-chart-category-axis-item>
                        <kendo-chart-category-axis-item-labels
                            [rotation]="{ angle: -90 }"
                            [content]="categoryAxisLabels"
                        >
                        </kendo-chart-category-axis-item-labels>
                    </kendo-chart-category-axis-item>
                </kendo-chart-category-axis>
                <kendo-chart-value-axis>
                    <kendo-chart-value-axis-item [labels]="valueAxisLabels"> </kendo-chart-value-axis-item>
                </kendo-chart-value-axis>
                <kendo-chart-legend [position]="legendPosition">
                    <kendo-chart-legend-item cursor="pointer"> </kendo-chart-legend-item>
                </kendo-chart-legend>
                <kendo-chart-series>
                    @if(!isDrilledDown || activeSeries === 'Stocks'){
                    <kendo-chart-series-item
                        type="column"
                        name="Stocks"
                        [data]="stocksYearlyData"
                        field="flow"
                        categoryField="month"
                        drilldownField="month"
                        [spacing]="0.1"
                        color="var(--kendo-color-series-e)"
                    >
                        <ng-template kendoChartDrilldownSeries let-month="drilldownValue">
                            <kendo-chart-series-item
                                name="{{ month }}"
                                [data]="stocksMonthlyData[month]"
                                field="sales"
                                categoryField="day"
                                color="var(--kendo-color-series-e)"
                            >
                            </kendo-chart-series-item>
                        </ng-template>
                    </kendo-chart-series-item>
                    } @if(!isDrilledDown || activeSeries === 'Real Estate'){
                    <kendo-chart-series-item
                        type="column"
                        name="Real Estate"
                        [data]="realEstateYearlyData"
                        field="flow"
                        categoryField="month"
                        drilldownField="month"
                        color="var(--kendo-color-series-d)"
                    >
                        <ng-template kendoChartDrilldownSeries let-month="drilldownValue">
                            <kendo-chart-series-item
                                name="{{ month }}"
                                [data]="realEstateMonthlyData[month]"
                                field="sales"
                                categoryField="day"
                                drilldownField="day"
                                color="var(--kendo-color-series-d)"
                            >
                            </kendo-chart-series-item>
                        </ng-template>
                    </kendo-chart-series-item>
                    } @if(!isDrilledDown || activeSeries === 'Bonds'){
                    <kendo-chart-series-item
                        type="column"
                        name="Bonds"
                        [data]="bondsYearlyData"
                        field="flow"
                        categoryField="month"
                        drilldownField="month"
                        color="var(--kendo-color-series-b)"
                    >
                        <ng-template kendoChartDrilldownSeries let-month="drilldownValue">
                            <kendo-chart-series-item
                                [name]="customMsgService.translate(month.toString())"
                                [data]="bondsMonthlyData[month]"
                                field="sales"
                                categoryField="day"
                                color="var(--kendo-color-series-b)"
                            >
                            </kendo-chart-series-item>
                        </ng-template>
                    </kendo-chart-series-item>
                    }
                </kendo-chart-series>
            </kendo-chart>
        </div>
    </div>
    <div
        class="analytics-panel transactions-panel"
    >
        <div class="panel-heading">
            <h6 class="k-h6 panel-title">{{ customMsgService.translate('transactions') }}</h6>
        </div>
        <div class="analytics-content">
            <app-transactions-grid [pageSize]="7"></app-transactions-grid>
        </div>
    </div>
</div>
