kendo-dateinput {
    width: 140px;
    margin-right: 8px;
}

.list-item {
    color: black;
    font-weight: bold;
}

.chart-category {
    img {
        margin-right: 8px;
    }
}

.dropdownlist-service-selector.interval {
    margin-right: 8px;
}
