<div class="action-buttons">
    <button
        kendoButton
        fillMode="flat"
        (click)="navigateOffSite('https://github.com/telerik/kendo-angular/tree/master/examples-standalone/finance-portfolio')"
        [svgIcon]="downloadIcon"
    >
        Download on Github
    </button>
    <button
        kendoButton
        fillMode="flat"
        (click)="navigateOffSite('https://www.telerik.com/kendo-angular-ui/components/')"
        [svgIcon]="filteText"
    >
        Documentation
    </button>
</div>
