<p class="right-panel-title">My cards</p>
<div class="card">
    <kendo-card class="panel-card" width="100%">
        <kendo-card-body>
            <p class="card-balance-text">Balance</p>
            <p class="card-balance-currency">$430,933</p>
        </kendo-card-body>

        <kendo-card-body>
            <p class="card-profit-text">Monthly profit</p>
            <p class="card-profit-currency">$12,649</p>
            <kendo-chip class="chip" label="+10%" icon="arrow-60-up"> </kendo-chip>
        </kendo-card-body>
    </kendo-card>
</div>
