<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="telerik" value="https://nuget.telerik.com/v3/index.json" />
 </packageSources>
 <packageSourceCredentials>
    <telerik>
      <add key="Username" value="your telerik account email" />
      <add key="ClearTextPassword" value="your plain text password" />
   </telerik>
 </packageSourceCredentials>
</configuration>
