<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear/>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="telerik.com" value="https://nuget.telerik.com/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceCredentials>
    <telerik.com>
      <add key="Username" value="myemail" />
      <add key="ClearTextPassword" value="mypass" />
    </telerik.com>
  </packageSourceCredentials>
</configuration>