.container {
    padding-bottom: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: flex-start;
}

.k-card-header{
  border-style: none;
}

.price {
    position: absolute;
    right: 0;
    padding-right: 18px;
}

.card {
    flex-shrink: 0.3;
}

.negative {
    color: #f31700;
}

.positive {
    color: #37b400;
}
