.my-portfolio-title {
    font-weight: var(--kendo-font-weight-medium);
    font-size: var(--kendo-font-size-xl);
    line-height: var(--kendo-line-height-md);
    color: var(--kendo-color-subtle);
    margin-block: var(--kendo-spacing-2) var(--kendo-spacing-3);
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--kendo-spacing-4);
    padding-bottom: var(--kendo-spacing-4);
}

.card-title {
    font-size: var(--kendo-font-size-sm);
    font-weight: var(--kendo-font-weight-bold);
    line-height: var(--kendo-line-height-sm);
    color: var(--kendo-color-on-app-surface);
}

.card-subtitle.k-card-subtitle {
    font-size: var(--kendo-font-size-xs);
    line-height: var(--kendo-line-height-sm);
    color: var(--kendo-color-subtle);
}

.k-card-header {
    border-style: none;
}

.k-card-header .k-card-title + .k-card-subtitle {
    margin-top: 0;
}

.price {
    position: absolute;
    right: 0;
    padding-right: var(--kendo-spacing-4\.5);
}

.card {
    flex: 1 1 calc(var(--kendo-spacing-24) * 3);
    min-width: 0;
}

.negative {
    color: var(--kendo-color-error);
}

.positive {
    color: var(--kendo-color-secondary);
}

.arrow-up {
    width: calc(var(--kendo-icon-size) * 0.5);
    height: calc(var(--kendo-icon-size) * 0.5);
    margin-bottom: var(--kendo-spacing-1);
}

.arrow-down {
    width: calc(var(--kendo-icon-size) * 0.5);
    height: calc(var(--kendo-icon-size) * 0.5);
    margin-bottom: var(--kendo-spacing-0\.5);
}

.portfolio-card__header {
    display: flex;
    align-items: center;
    gap: var(--kendo-spacing-2);
}

.portfolio-card__avatar {
    background-color: transparent;
}

@media (max-width: 575px) {
    .card {
        flex-basis: 100%;
    }
}
