@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Regular.ttf") format("truetype");
}
body {
    font-family: var(--kendo-font-family);
    font-size: var(--kendo-font-size);
    line-height: var(--kendo-line-height);
}

h1 {
    font-size: var(--kendo-font-size-xl);
    font-weight: var(--kendo-font-weight-normal);
}
h2 {
    font-size: var(--kendo-font-size-lg);
    font-weight: var(--kendo-font-weight-light);
}
h3 {
    font-size: var(--kendo-font-size-xl);
    font-weight: var(--kendo-font-weight-normal);
}
h4 {
    font-size: var(--kendo-font-size-xl);
}
h5 {
    font-size: var(--kendo-font-size-xl);
}
p {
    font-size: var(--kendo-font-size);
}
a {
    font-size: var(--kendo-font-size);
}

@media (min-width: 576px) {
    h1 {
        font-size: calc(var(--kendo-font-size-xl) * 1.2);
        font-weight: var(--kendo-font-weight-normal);
    }
    h2 {
        font-size: var(--kendo-font-size-xl);
        font-weight: var(--kendo-font-weight-light);
    }
}

@media (min-width: 768px) {
    h1 {
        font-size: calc(var(--kendo-font-size-xl) * 1.4);
        font-weight: var(--kendo-font-weight-normal);
    }
    h2 {
        font-size: calc(var(--kendo-font-size-xl) * 1.4);
        font-weight: var(--kendo-font-weight-light);
    }
}