@use './variables';
@use './typography';
@use './common';

//Grid
.customer-photo {
    display: inline-block;
    width: var(--kendo-spacing-8);
    height: var(--kendo-spacing-8);
    border-radius: var(--kendo-border-radius-full);
    object-fit: cover;
    vertical-align: middle;
    box-shadow: inset 0 0 var(--kendo-spacing-1px) var(--kendo-color-border), var(--kendo-elevation-1);
    margin-left: var(--kendo-spacing-1);
}

.customer-name {
    display: inline-block;
    vertical-align: middle;
    line-height: var(--kendo-spacing-8);
    padding-left: var(--kendo-spacing-3);
}

.budget-negative {
    color: var(--kendo-color-error-on-surface);
}

.budget-amount {
    font-weight: var(--kendo-font-weight-semibold);
}

.status-badge {
    display: inline-block;
    padding: var(--kendo-spacing-1) var(--kendo-spacing-2);
    font-size: var(--kendo-font-size-xs);
    font-weight: var(--kendo-font-weight-bold);
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: var(--kendo-border-radius-sm);
}

.status-badge--success {
    color: var(--kendo-color-on-success);
    background-color: var(--kendo-color-success);
}

.status-badge--danger {
    color: var(--kendo-color-on-error);
    background-color: var(--kendo-color-error);
}

// Chart
.chart-tooltip {
    text-align: center;
    font-size: var(--kendo-font-size-sm);
    font-weight: var(--kendo-font-weight-bold);
}

.card-opacity {
    opacity: 0.5;
}

// Scheduler
kendo-recurrence-frequency-editor .k-edit-label {
    width: unset;
    margin-right: var(--kendo-spacing-3);
}

kendo-recurrence-frequency-editor .k-edit-field {
    width: unset;
    float: none;
}

.team-mark {
    width: 1em;
    height: 1em;
    display: inline-block;
    vertical-align: middle;
    margin-right: var(--kendo-spacing-2);
}

.team-mark--1 {
    background-color: var(--kendo-color-series-a);
}

.team-mark--2 {
    background-color: var(--kendo-color-series-b);
}

.team-mark--3 {
    background-color: var(--kendo-color-series-c);
}

.team-mark--4 {
    background-color: var(--kendo-color-series-d);
}

// Header
.k-dropdownlist.k-picker {
    margin: var(--kendo-spacing-1);
}

.daterange-center {
    align-self: center;
}
