@import './variables';
@import './typography';
@import './common';

//Grid
.customer-photo {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-size: 32px 35px;
    background-position: center center;
    vertical-align: middle;
    line-height: 32px;
    box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0, 0, 0, 0.2);
    margin-left: 5px;
}

.customer-name {
    display: inline-block;
    vertical-align: middle;
    line-height: 32px;
    padding-left: 10px;
}

.red {
    color: #d9534f;
}

.text-bold {
    font-weight: 600;
}

.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}

.badge-success {
    color: #fff;
    background-color: #28a745;
}

.badge-danger {
    color: #fff;
    background-color: #dc3545;
}

// Chart
.chart-tooltip {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

// Card
.employee-photo {
    display: inline-block;
    border-radius: 50%;
    background-size: 38px 41px;
    background-position: center center;
    vertical-align: middle;
    line-height: 32px;
}

.card-opacity {
    opacity: 0.5;
}

// Scheduler
kendo-recurrence-frequency-editor .k-edit-label {
    width: unset;
    margin-right: 10px;
}

kendo-recurrence-frequency-editor .k-edit-field {
    width: unset;
    float: none;
}

.k-team-mark {
    width: 1em;
    height: 1em;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}

// Header
.material-bg .k-input,
.material-bg .k-dropdown-wrap .k-i-arrow-s {
    color: white;
}

.material-bg .k-dropdown-wrap {
    border-color: white;
}

.material-bg .k-dropdown-wrap.k-state-focused {
    border-color: #697bcf;
    border-bottom-width: 2px;
}

.material-bg .k-dropdown-wrap:hover {
    border-color: #2942bb;
    border-bottom-width: 2px;
}

.ddl-theme {
    width: 75px;
}

.k-dropdownlist {
    margin: 5px;
}

.ddl-locale {
    width: 120px;
}

.daterange-center {
    align-self: center;
}
