@use './variables';
@use './typography';
@use './common';

//Grid
.customer-photo {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: var(--kendo-border-radius-full);
    background-size: 32px 35px;
    background-position: center center;
    vertical-align: middle;
    line-height: 32px;
    box-shadow: inset 0 0 var(--kendo-spacing-1px) var(--kendo-color-border), var(--kendo-elevation-1);
    margin-left: var(--kendo-spacing-1);
}

.customer-name {
    display: inline-block;
    vertical-align: middle;
    line-height: 32px;
    padding-left: var(--kendo-spacing-3);
}

.red {
    color: var(--kendo-color-error-on-surface);
}

.text-bold {
    font-weight: 600;
}

.badge {
    display: inline-block;
    padding: var(--kendo-spacing-1) var(--kendo-spacing-2);
    font-size: var(--kendo-font-size-xs);
    font-weight: var(--kendo-font-weight-bold);
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: var(--kendo-border-radius-sm);
}

.badge-success {
    color: var(--kendo-color-on-success);
    background-color: var(--kendo-color-success);
}

.badge-danger {
    color: var(--kendo-color-on-error);
    background-color: var(--kendo-color-error);
}

// Chart
.chart-tooltip {
    text-align: center;
    font-size: var(--kendo-font-size-sm);
    font-weight: var(--kendo-font-weight-bold);
}

// Card
.employee-photo {
    display: inline-block;
    border-radius: var(--kendo-border-radius-full);
    background-size: 38px 41px;
    background-position: center center;
    vertical-align: middle;
    line-height: 32px;
}

.card-opacity {
    opacity: 0.5;
}

// Scheduler
kendo-recurrence-frequency-editor .k-edit-label {
    width: unset;
    margin-right: var(--kendo-spacing-3);
}

kendo-recurrence-frequency-editor .k-edit-field {
    width: unset;
    float: none;
}

.k-team-mark {
    width: 1em;
    height: 1em;
    display: inline-block;
    vertical-align: middle;
    margin-right: var(--kendo-spacing-2);
}

// Header
.k-dropdownlist.k-picker {
    margin: var(--kendo-spacing-1);
}

.daterange-center {
    align-self: center;
}
