.content {
    display: flex;
}

.image-container {
    height: 250px;
    margin-right: var(--kendo-spacing-5);
}

img {
    height: 100%;
}

.content-text {
    display: block;
    text-align: justify;
}

.expansionpanel-wrapper {
    max-width: 550px;
    margin: 0 auto;
}
