<loading-spinner *ngIf="isLoading">
</loading-spinner>
<div *ngIf="!isLoading && !user.id">
    <img class="center" src="../../assets/noConnection.png">
</div>
<div *ngIf="user.id && !isLoading" >
    <div class="row">
        <div class="col-md text-center text-md-left mb-3">
            <h2>
                <span class="small text-uppercase text-muted d-block">Account</span>
                {{user.login}} - {{user.name}}
            </h2>
        </div>
        <div class="col-md text-center text-md-right">
            <button class="btn btn-light" (click)="onSignOutClick()">Sign out</button>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-6 col-xl-8">

            <div class="card" id="profile">
                <h3 class="card-header">Public Profile</h3>
                <div class="card-body">

                    <div class="row">
                        <div class="col-md-3 col-lg-12 col-xl-3 text-center">
                            <img [src]="user.avatar_url" [ngStyle]="{'max-width': '100%'}" class="img-circle mx-auto mb-3" />
                        </div>
                        <div class="col-md-9 col-lg-12 col-xl-9">
                            <div class="form-group">
                                <label class="h6">Username</label>
                                <input type="text" id="username" class="form-control" [value]="user.login" />
                            </div>
                            <div class="form-group">
                                <label class="h6">Name</label>
                                <input type="text" id="name" class="form-control" [value]="user.name" />
                            </div>
                            <div class="form-group">
                                <label class="h6">Email</label>
                                <input type="email" id="email" class="form-control" [value]="user.email" />
                            </div>
                            <div class="form-group">
                                <label class="form-check-label h6">
                                    <input type="checkbox" class="form-check-input" checked /> Keep my email address private
                                </label>
                            </div>
                            <div class="form-group">
                                <label class="h6">Company</label>
                                <input type="text" id="company" class="form-control" [value]="user.company" />
                            </div>
                            <div class="form-group">
                                <label class="h6">Location</label>
                                <input type="text" id="location" class="form-control" [value]="user.location" />
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" (click)="onUpdateClick()">Update profile</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card" id="delete-account">
                <h3 class="card-header">Delete Account</h3>
                <div class="card-body">
                    <p>You will immediately lose access to your repositories and all other information associated with your account. <strong>This cannot be undone!</strong></p>
                    <button class="btn btn-danger" (click)="onDeleteClick()">Delete Account</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6 col-xl-4">

            <div class="card" id="notifications">
                <h3 class="card-header">Notifications</h3>
                <div class="card-body">
                    <h4 class="h6">Automatically watch repositories?</h4>
                    <p class="text-muted">When you are given push access to a repository, automatically receive notifications for it.</p>
                    <p><kendo-switch></kendo-switch></p>
                    <h4 class="h6">Receive updates to any conversations via email?</h4>
                    <p><kendo-switch [checked]="true"></kendo-switch></p>
                    <h4 class="h6">Receive updates to any repositories via email?</h4>
                    <p><kendo-switch [checked]="true"></kendo-switch></p>
                </div>
            </div>
            <div class="card" id="password">
                <h3 class="card-header">Update password</h3>
                <div class="card-body">
                    <div class="form-group">
                        <label class="h6">Old password</label>
                        <input type="password" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="h6">New password</label>
                        <input type="password" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="h6">Confirm password</label>
                        <input type="password" class="form-control" />
                    </div>
                    <div class="form-group">
                       <button class="btn btn-secondary">Change password</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <kendo-dialog title="Thank you" *ngIf="profileDialogVisible" (close)="onProfileDialogClose()">
        <p>Your profile has been successfully updated</p>
        <kendo-dialog-actions>
            <button kendoButton (click)="onProfileDialogClose()">OK</button>
        </kendo-dialog-actions>
    </kendo-dialog>

    <kendo-dialog title="Are you sure you want to do this?" *ngIf="deleteDialogVisible" (close)="onDeleteDialogClose()">
        <p>Account deletetion cannot be undone!</p>
        <kendo-dialog-actions>
            <button kendoButton (click)="onDeleteDialogClose()">Cancel</button>
            <button kendoButton (click)="onDeleteDialogClose()" [primary]="true">Delete Account</button>
        </kendo-dialog-actions>
    </kendo-dialog>

</div>
