// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-flex:               true;
$enable-rounded:            true;
$enable-shadows:            false;
$enable-gradients:          false;
$enable-transitions:        false;
$enable-hover-media-query:  false;
$enable-grid-classes:       true;
$enable-print-styles:       false;




// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:      12;
$grid-gutter-width: 20px;




// Colors
//
// Grayscale and brand colors for use across Bootstrap.

$gray-dark:                 #252830;
$gray:                      #55595c;
$gray-light:                #818a91;
$gray-lighter:              #eceeef;
$gray-lightest:             #f7f7f9;

$brand-primary:             #1ca8dd;
$brand-success:             #27c46d;
$brand-info:                #52c3d3;
$brand-warning:             #ff9966;
$brand-danger:              #cf3257;
$brand-inverse:             $gray-dark;




// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-serif:      Georgia, "Times New Roman", Times, serif;
$font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base:       $font-family-sans-serif;

// Pixel value used to responsively scale all typography. Applied to the `<html>` element.
$font-size-root: 14px;

$font-size-base: 1rem;
$font-size-lg:   1.25rem;
$font-size-sm:   .875rem;
$font-size-xs:   .75rem;

$line-height-base: 1.5;

$font-size-h1: 1.75rem;
$font-size-h2: 1.25rem;
$font-size-h3: 1.25rem;
$font-size-h4: 1.25rem;
$font-size-h5: 1.25rem;
$font-size-h6: 1rem;




// Body
//
// Settings for the `<body>` element.

$body-bg:    #fbfbfb;
$body-color: $gray-dark;


// Components
//
// Define common padding and border radius sizes and more.

$component-active-color: #fff;
$component-active-bg:    $brand-primary;


// Navs

$nav-pills-border-radius:     0;
$nav-pills-active-link-color: #111111;
$nav-pills-active-link-bg:    $component-active-bg;


// Cards

$card-spacer-x:            1.25rem;
$card-spacer-y:            .75rem;
$card-border-width:        1px;
$card-border-color:        #e8e8e8;
$card-cap-bg:              #ffffff;
$card-bg:                  #fff;