
$action-buttons-padding: 20px;
$action-buttons-right: 25px;
$action-buttons-bottom: 70px;
$action-buttons-border-radius: 5px;
$action-buttons-shadow: 0 2px 6px rgba(0,0,0,0.08);

.action-buttons {
    margin-top: auto;
    flex: 1;
    padding: $action-buttons-padding;
    right: $action-buttons-right;
    bottom: $action-buttons-bottom;
    border-radius: $action-buttons-border-radius;
    //background-color: #fff;
    box-shadow: $action-buttons-shadow;

    > a {
        display: block;
        margin-bottom: 5px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .k-icon {
        margin: -3px 8px 0 0;
    }
}

@media (max-width: 767px) {
    .action-buttons {
        position: relative;
        right: auto;
    }
}
