<div class="container">
    <div class="d-flex justify-content-center py-5 align-items-center">
        <app-navigation></app-navigation>
    </div>
    <div class="row py-5">
        <kendo-grid
            [data]="gridView"
            [skip]="skip"
            [pageSize]="pageSize"
            scrollable="virtual"
            [rowHeight]="36"
            [height]="650"
            (pageChange)="pageChange($event)"
            >
            <kendo-grid-column field="symbol" [width]="80" title="Symbol"></kendo-grid-column>
            <kendo-grid-column field="name" [width]="130" media="(min-width: 992px)" title="Name"></kendo-grid-column>
            <kendo-grid-column field="currency" [width]="80" title="Currency"></kendo-grid-column>
            <kendo-grid-column
                field="price"
                [width]="120"
                format="c2"
                title="Price">
                        <ng-template kendoGridCellTemplate let-dataItem>
                        <span class="grid-price-cell" [ngClass]="{
                                'price-up': dataItem.change > 0,
                                'price-down': dataItem.change < 0
                            }">{{ dataItem.price }}</span>
                        </ng-template>
            </kendo-grid-column>
            <kendo-grid-column
                field="change"
                [width]="120"
                title="Change">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <span class="grid-price-cell" [ngClass]="{
                        'price-up': dataItem.change > 0,
                        'price-down': dataItem.change < 0
                    }">{{ dataItem.change }}
                    </span>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column field="stock_exchange_long" media="(min-width: 992px)" [width]="260" title="Stock Exchange"></kendo-grid-column>
            <kendo-grid-column field="stock_exchange_short" media="(min-width: 992px)" [width]="80" title="SE Short"></kendo-grid-column>
        </kendo-grid>
    </div>
</div>
