html,
body,
#parent,
my-app,
.wrapper {
    margin: 0;
    padding: 0;
    border-width: 0;
    height: 100%;
}

html {
    overflow: hidden;
}

.customClass {
    flex: 1;
    overflow: auto;
    align-items: stretch;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.customClass .k-drawer-content {
    overflow: auto;
}

.custom-toolbar {
    width: 100%;
    height: calc(var(--kendo-spacing-10) + var(--kendo-spacing-0\.5));
    background-color: var(--kendo-color-inverse);
    border-bottom: inset;
    border-bottom-width: 1px;
    padding: var(--kendo-spacing-1);
    color: var(--kendo-color-on-inverse);
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom-toolbar kendo-avatar {
    margin-right: var(--kendo-spacing-2\.5);
}

.mail-box {
    font-weight: bold;
    font-size: var(--kendo-font-size-lg);
    padding-left: var(--kendo-spacing-2);
}
h5 {
    font-size: var(--kendo-font-size-xl) !important;
    font-weight: var(--kendo-font-weight-medium);
    margin: 0;
    padding: 0;
}
