html,
body,
#parent,
my-app,
.wrapper {
    margin: 0;
    padding: 0;
    border-width: 0;
    height: 100%;
}

html {
    overflow: hidden;
}

.customClass {
    flex: 1;
    overflow: auto;
    align-items: stretch;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.customClass .k-drawer-content {
    overflow: auto;
}

.custom-toolbar {
    width: 100%;
    height: 48px;
    background-color: #757575;
    border-bottom: inset;
    border-bottom-width: 1px;
    padding: 3px;
    color: #ffffff;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom-toolbar kendo-avatar {
    margin-right: 10px;
}

.mail-box {
    font-weight: bold;
    font-size: 17px;
    padding-left: 8px;
}
h5 {
    font-size: 1.25rem !important;
    font-weight: 500;
    margin: 0;
    padding: 0;
}
