<div class="wrapper">
    <div class="custom-toolbar">
        <button kendoButton [svgIcon]="layoutSvg" fillMode="flat" (click)="drawer.toggle()">
            <h1 class="mail-box">Drawer component</h1>
        </button>
        <kendo-avatar
        [imageSrc]="kendokaAvatar"
        shape="circle"
        width="38px"
        height="40px"
      ></kendo-avatar>
    </div>
    <kendo-drawer-container class="customClass">
        <kendo-drawer
            #drawer
            [items]="items"
            mode="push"
            [mini]="true"
            [expanded]="true"
            [autoCollapse]="false"
            (select)="onSelect($event)"
        >
        </kendo-drawer>
        <kendo-drawer-content>
            <layout-component [selectedItem]="selected"></layout-component>
        </kendo-drawer-content>
    </kendo-drawer-container>
</div>
