@import '../../../styles/variables';

.stock-chart.k-chart {
    .k-selection .k-handle {
        border: 1px solid $chart-navigation-drag-handle-border;
        background-color: $chart-navigation-drag-handle-bg;
    }
}
