<link rel="stylesheet" href="https://unpkg.com/@progress/kendo-font-icons/dist/index.css" />

@if(card.comments.length){
<div>
    <div class="card-comment-wrapper">
        @for(comment of card.comments; track comment){
        <div class="box">
            <div class="card-comment-container">
                <kendo-avatar
                    class="card-comment-thumbnail"
                    initials="EG"
                    shape="circle"
                    [cssStyle]="{ color: 'white' }"
                >
                </kendo-avatar>
                <div class="comment-box">
                    <span class="comment-text">{{ comment.text }}</span>
                    <span class="time"
                        >1s ago<span>{{ comment.likes }} like</span></span
                    >
                </div>
            </div>
            <button kendoButton fillMode="flat" (click)="commentLikesCount(comment)">
                <span [ngClass]="commentHeartIcon(comment)"></span>
            </button>
        </div>
        }
    </div>
</div>
}

<div class="k-hstack card-post-comment-wrapper">
    <textarea class="k-textarea" placeholder="Comment..." [(ngModel)]="card.newCommentTextValue"></textarea>
    <button kendoButton fillMode="flat" themeColor="primary" (click)="postComment(card)">Post</button>
</div>
