<h1>Get Tickets</h1>
<app-header></app-header>
<div class="background-div"></div>

<div class="form-container">
  <form [formGroup]="formGroup" (ngSubmit)="submitForm()">
    <div class="blue-note">
      <p>This form is just an example.</p>
      <p>No payment or data is collected.</p>
      <p>
        After submitting the form the corresponding income will increase in the
        the spreadsheet in Event Budget page of this application
      </p>
    </div>

    <div class="section">
      <h3>In person</h3>
      <div class="underline"></div>
      <div class="field">
        <kendo-label [for]="package"
          >Full package: all workshops + talks</kendo-label
        >
        <div class="input-container">
          <h5>{{ calculateTicketPrice("fullPackage") }} USD</h5>
          <span>x</span>
          <kendo-numerictextbox
            #package
            size="large"
            format="##"
            [min]="0"
            [max]="100"
            formControlName="fullPackage"
          ></kendo-numerictextbox>
        </div>
      </div>
      <div class="field">
        <kendo-label [for]="workshop">Workshops: 1st day</kendo-label>
        <div class="input-container">
          <h5>{{ calculateTicketPrice("workshopFirstDay") }} USD</h5>
          <span>x</span>
          <kendo-numerictextbox
            #workshop
            size="large"
            format="##"
            [min]="0"
            [max]="100"
            formControlName="workshopFirstDay"
          ></kendo-numerictextbox>
        </div>
      </div>
      <div class="field">
        <kendo-label [for]="workshop2">Workshops: 2nd day</kendo-label>
        <div class="input-container">
          <h5>{{ calculateTicketPrice("workshopSecondDay") }} USD</h5>
          <span>x</span>
          <kendo-numerictextbox
            #workshop2
            size="large"
            format="##"
            [min]="0"
            [max]="100"
            formControlName="workshopSecondDay"
          ></kendo-numerictextbox>
        </div>
      </div>
      <div class="field">
        <kendo-label [for]="talks">Talks only</kendo-label>
        <div class="input-container">
          <h5>{{ calculateTicketPrice("talksOnly") }} USD</h5>
          <span>x</span>
          <kendo-numerictextbox
            #talks
            size="large"
            format="##"
            [min]="0"
            [max]="100"
            formControlName="talksOnly"
          ></kendo-numerictextbox>
        </div>
      </div>
    </div>

    <div class="section">
      <h3>Online</h3>
      <div class="underline"></div>
      <div class="field">
        <kendo-label [for]="tickets">Online Talks</kendo-label>
        <div class="input-container">
          <h5>{{ calculateTicketPrice("onlineTickets") }} USD</h5>
          <span>x</span>
          <kendo-numerictextbox
            #tickets
            size="large"
            format="##"
            [min]="0"
            [max]="100"
            formControlName="onlineTickets"
          ></kendo-numerictextbox>
        </div>
      </div>
    </div>
    <div class="underline" style="margin-bottom: 14px"></div>
    <div class="total-price">
      TOTAL:<b style="margin-left: 5px">{{ calculateTotalPrice() }} USD</b>
    </div>

    <div class="buttons">
      <button
        kendoButton
        themeColor="primary"
        type="submit"
        size="large"
        style="width: 86px"
      >
        Book Now
      </button>
      <kendo-button
        type="button"
        (click)="clearForm()"
        size="large"
        style="width: 80px"
        >Clear</kendo-button
      >
    </div>
  </form>
</div>
<ng-template #notificationTemplate>
  <div style="max-width: 270px">
    <p>Your booking has been processed.</p>
    <p>
      <u style="text-decoration: underline">Event Booking</u> Spreadsheet on
      Event Booking page is updated.
    </p>
  </div>
</ng-template>
