<div
  class="k-d-flex k-flex-row k-flex-sm-col k-gap-5 k-gap-sm-5 k-align-items-start k-justify-content-center k-flex-wrap">
  <div class="k-d-flex k-align-items-start k-gap-1">
    <div class="k-d-flex k-align-items-start k-gap-1">
      <h6 class="k-h6 k-font-medium k-white-space-nowrap"> {{customMsgService.translate(cardData.title.toLowerCase())}}
      </h6>
    </div>
  </div>
  <div class="k-d-flex k-align-items-start k-gap-1">
    <h6 class="k-h6 k-font-normal k-white-space-nowrap">{{intl.formatNumber(cardData!.value, customCurrencyOptions)}}
    </h6>
  </div>
  <div class="k-font-size-md k-white-space-nowrap">
    <span [ngClass]="(cardData!.description > 0 ? 'k-text-green' : 'k-text-red')">{{cardData.description }}% </span>
    {{customMsgService.translate('thanLastMonth')}}
  </div>
</div>