.wrapper {
    max-width: 100%;
    overflow: hidden;
    background-color:var(--kendo-color-base);
    color:var(--kendo-color-on-base);
}

.marquee {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
}

.marquee-animate {
    animation: marquee 16s linear infinite;
}

.marquee p {
    display: inline-block;
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}

@keyframes marquee {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-50%, 0, 0);
    }
}
