<div class="wrapper">
    <div class="marquee" [ngClass]="{'marquee-animate': !pauseAnimation}">
        <p>
            NEW: Enhance Your Developer Experience with Ready-to-Use Page Templates and Building Blocks! <a target="_blank" href="https://www.telerik.com/page-templates-and-ui-blocks">Learn more...</a>
        </p>
        <p>
            &nbsp; &nbsp; &nbsp; NEW: Enhance Your Developer Experience with Ready-to-Use Page Templates and Building Blocks! <a target="_blank" href="https://www.telerik.com/page-templates-and-ui-blocks">Learn more...</a>
        </p>
        <p>
            &nbsp; &nbsp; &nbsp; NEW: Enhance Your Developer Experience with Ready-to-Use Page Templates and Building Blocks! <a target="_blank" href="https://www.telerik.com/page-templates-and-ui-blocks">Learn more...</a>
        </p>
        <p>
            &nbsp; &nbsp; &nbsp; NEW: Enhance Your Developer Experience with Ready-to-Use Page Templates and Building Blocks! <a target="_blank" href="https://www.telerik.com/page-templates-and-ui-blocks">Learn more...</a>
        </p>
    </div>
</div>
<kendo-appbar [themeColor]="'inherit'">
    <kendo-appbar-section class="k-flex-basis-0 k-flex-grow k-gap-2">
        <a href="#" class="k-d-inline-flex">
            <img src="assets/HW-site-logo.svg" alt="Logo" />
        </a>
    </kendo-appbar-section>
    <kendo-appbar-section class="k-flex-basis-0 k-flex-grow k-justify-content-center">
        <kendo-buttongroup selection="single" class="appbar-button-group">
            <button kendoButton [toggleable]="true" fillMode="link" themeColor="primary" [size]="'large'" class="!k-px-6" [routerLink]="['/']">Team</button>
            <button kendoButton [toggleable]="true" fillMode="link" themeColor="primary" [size]="'large'" class="!k-px-6" [routerLink]="['/profile']">Profile</button>
            <button kendoButton [toggleable]="true" fillMode="link" themeColor="primary" [size]="'large'" class="!k-px-6" [routerLink]="['/info']">Info</button>
        </kendo-buttongroup>
    </kendo-appbar-section>
    <kendo-appbar-section class="k-flex-basis-0 k-flex-grow k-justify-content-end">
        <app-menu-window></app-menu-window>
    </kendo-appbar-section>
</kendo-appbar>
<div kendoWindowContainer></div>
