.material-bg .k-input,
.material-bg .k-dropdown-wrap .k-i-arrow-s {
    color: white;
}

.material-bg .k-dropdown-wrap {
    border-color: white;
}

.material-bg .k-dropdown-wrap.k-state-focused {
    border-color: #697bcf;
    border-bottom-width: 2px;
}

.material-bg .k-dropdown-wrap:hover {
    border-color: #2942bb;
    border-bottom-width: 2px;
}
