<header class="application-header">
    <div class="user-greeting">
        <kendo-avatar size="large" imageSrc="assets/avatar-image.jpeg"></kendo-avatar>
        <div class="greeting-copy">
            <span class="greeting-title">
                {{ customMsgService.translate('greeting') }}
            </span>
            <span class="greeting-subtitle">
                {{ customMsgService.translate('welcome') }}
            </span>
        </div>
    </div>
    <div class="header-search">
        <div class="search-control">
            <kendo-autocomplete
                #cities
                [data]="suggestions"
                class="city-search"
                [style.minWidth.px]="215"
                [style.maxWidth.px]="360"
                size="small"
                [placeholder]="customMsgService.translate('search')"
                rounded="large"
                fillMode="outline"
                (valueChange)="onValueChange($event)"
            >
                <ng-template kendoPrefixTemplate [showSeparator]="true">
                    <kendo-svgicon [icon]="searchIcon"></kendo-svgicon>
                </ng-template>
            </kendo-autocomplete>
        </div>
    </div>
    <div
        class="header-actions"
    >
        <button kendoButton themeColor="primary" rounded="large" [routerLink]="'/ai-assistant'">
            <span class="action-label">{{ customMsgService.translate('aiAssistant') }}</span>
        </button>
        <button kendoButton fillMode="flat" rounded="large" [svgIcon]="bellIcon" aria-label="Open notifications" title="Notifications" [routerLink]="'/notifications'"></button>
        <button kendoButton fillMode="flat" rounded="large" [svgIcon]="userIcon" aria-label="Open user profile" title="User profile" [routerLink]="'/profile'"></button>
        <kendo-dropdownbutton
            [data]="translations"
            [svgIcon]="dropDownIcon"
            rounded="large"
            class="language-dropdown"
            [style.width.px]="119"
            [style.maxWidth.px]="119"
            textField="locale"
            valueField="localeId"
            (itemClick)="changeLanguage($event)"
        >
            <span class="action-label">{{ selectedLanguage.locale }}</span>
        </kendo-dropdownbutton>
    </div>
</header>
