<div class="container">
    <div class="row">
        <div class="col">
            <kendo-stockchart class="stock-chart" [transitions]="true" [renderAs]="'svg'">
                <kendo-chart-category-axis>
                    <kendo-chart-category-axis-item
                        [plotBands]="categoryPlotBands"
                    >
                    </kendo-chart-category-axis-item>
                </kendo-chart-category-axis>
                <kendo-chart-value-axis>
                    <kendo-chart-value-axis-item
                        [name]="'close'"
                    >
                    </kendo-chart-value-axis-item>
                    <kendo-chart-value-axis-item
                        [name]="'volume'"
                        [visible]="false"
                        [max]="volumeValueAxisMax"
                    >
                    </kendo-chart-value-axis-item>
                </kendo-chart-value-axis>
                <kendo-chart-series>
                    <kendo-chart-series-item
                        [type]="'line'"
                        [data]="stockData"
                        [field]="'close'"
                        [style]="'smooth'"
                        [categoryField]="'date'"
                        [color]="'#2D73F5'"
                        [axis]="'close'"
                    >
                    </kendo-chart-series-item>
                    <kendo-chart-series-item
                        [type]="'column'"
                        [data]="stockData"
                        [field]="'volume'"
                        [categoryField]="'date'"
                        [color]="itemColor"
                        [axis]="'volume'"
                        [gap]="0.75"
                        [border]="{ color: 'transparent' }"
                    >
                    </kendo-chart-series-item>
                </kendo-chart-series>
                <kendo-chart-navigator>
                    <kendo-chart-navigator-series>
                        <kendo-chart-navigator-series-item
                            [type]="'area'"
                            [data]="stockData"
                            [field]="'close'"
                            [categoryField]="'date'"
                            [color]="'#559DE0'"
                        >
                        </kendo-chart-navigator-series-item>
                    </kendo-chart-navigator-series>
                </kendo-chart-navigator>
            </kendo-stockchart>
        </div>
    </div>
</div>
