<div class="right-panel">
    <p class="right-panel-title">My cards</p>
    <div class="card">
        <kendo-card class="panel-card" width="100%">
            <kendo-card-body>
                <p class="card-balance-text">Balance</p>
                <p class="card-balance-currency">$430,933</p>
            </kendo-card-body>

            <kendo-card-body>
                <p class="card-profit-text">Monthly profit</p>
                <p class="card-profit-currency">$12,649</p>
                <kendo-chip class="chip" label="+10%" icon="arrow-60-up"> </kendo-chip>
            </kendo-card-body>
        </kendo-card>
    </div>

    <p class="right-panel-title">Recent transactions</p>
    <div class="card-container">
        <kendo-card width="380px" class="transaction-card" *ngFor="let card of transactionCards">
            <kendo-card-header class="k-hstack">
                <kendo-avatar
                    width="40px"
                    height="40px"
                    [imageSrc]="getImg(card, null)"
                    shape="circle"
                    style="background-color: transparent"
                ></kendo-avatar>
                <div>
                    <h1 kendoCardTitle>
                        {{ card.symbol }}
                        <span *ngIf="card.status === 'Buy'; else recieve" class="price">{{ card.amount }}$</span>
                    </h1>
                    <p kendoCardSubtitle>
                        {{ card.status }} {{ card.deduction }}
                        <span class="price"> {{ card.stamp }}</span>
                        <ng-template #recieve>
                            <span class="price">+{{ card.amount }} {{ card.symbol }}</span>
                        </ng-template>
                    </p>
                </div>
            </kendo-card-header>
        </kendo-card>
    </div>

    <p class="right-panel-title">News Feed</p>
    <div class="card-container">
        <kendo-card width="420px" class="news-feed-card" *ngFor="let news of newsFeedData">
            <kendo-card-header class="k-hstack">
                <h1 kendoCardTitle class="news-feed">
                    {{ news.title }}
                </h1>
                <kendo-avatar
                    width="112px"
                    height="60px"
                    [imageSrc]="getImg(null, news)"
                    shape="rounded"
                    style="background-color: transparent; border-radius: 5px"
                ></kendo-avatar>
            </kendo-card-header>
        </kendo-card>
    </div>
</div>
