.right-panel {
    padding: 10px 32px;
    width: 370px;
    background: #f8f9fc;
}

.panel-card {
    line-height: 1;
    padding: 16px;
    border-radius: 20px;
    background: radial-gradient(44.65% 148.96% at 31.52% 49.82%, #4c5ffa 0%, #b5a9ff 100%);
}
.card-balance-currency {
    font-weight: bold;
    font-size: 33px;
    color: #ffffff;
}

.card-profit-currency {
    display: inline-block;
    font-weight: bold;
    font-size: 33px;
    color: #ffffff;
}

.card-text {
    font-weight: normal;
    font-size: 15px;
    color: #ffffff;
}

kendo-chip {
    color: #ffffff !important;
    background: rgba(75, 95, 250, 0.5) !important;
    border-radius: 25px;
    display: inline-block;
    position: relative;
    left: 120px;
    top: -10px;
}

.symbol {
    margin: 3px 5px 0px 5px;
    color: black;
    font-weight: bold;
}

.transaction-card, .news-feed-card {
    border: 0;
    background-color: inherit;
}

.transaction-card > .k-card-header {
    border-width: 0 0 0px;
    padding: 12px 0px;
}

.news-feed-card > .k-card-header{
  padding-left: 0px;
}

.k-card-body p {
    margin-bottom: 5px;
}

.news-feed {
    font-weight: normal;
    font-size: 18px;
    color: #424242;
}
