.charts-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: var(--kendo-spacing-4);
    width: 100%;
    height: 400px;
}

.chart-item {
    flex: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
}

kendo-chart {
    height: 100%;
    width: 100%;
}

@media (max-width: 991.98px) {
    .charts-container {
        grid-template-columns: 1fr;
        height: auto;
    }

    .chart-item {
        min-height: 25rem;
    }
}
