<div class="charts-container">
    <div class="chart-item">
        <kendo-chart>
            <kendo-chart-series>
                <kendo-chart-series-item type="donut" [data]="donutData" categoryField="kind" field="share">
                    <kendo-chart-series-item-labels [content]="labelContent" color="#fff" background="none">
                    </kendo-chart-series-item-labels>
                </kendo-chart-series-item>
            </kendo-chart-series>
            <kendo-chart-legend [visible]="false"></kendo-chart-legend>
        </kendo-chart>
    </div>

    <div class="chart-item">
        <kendo-chart>
            <kendo-chart-title text="Units sold"></kendo-chart-title>
            <kendo-chart-category-axis>
                <kendo-chart-category-axis-item [categories]="lineChartCategories" [title]="{ text: 'Months' }">
                </kendo-chart-category-axis-item>
            </kendo-chart-category-axis>
            <kendo-chart-series>
                <kendo-chart-series-item type="line" [data]="lineChartData[0]"> </kendo-chart-series-item>
                <kendo-chart-series-item type="line" [data]="lineChartData[1]"> </kendo-chart-series-item>
                <kendo-chart-series-item type="line" [data]="lineChartData[2]"> </kendo-chart-series-item>
            </kendo-chart-series>
        </kendo-chart>
    </div>

    <div class="chart-item">
        <kendo-chart>
            <kendo-chart-series>
              <kendo-chart-series-item type="heatmap" [data]="commitData">
                <kendo-chart-series-item-tooltip>
                  <ng-template let-value="value">
                    {{ value.value }} contributions on week {{ value.x }}, day
                    {{ value.y }}
                  </ng-template>
                </kendo-chart-series-item-tooltip>
              </kendo-chart-series-item>
            </kendo-chart-series>
      
            <kendo-chart-x-axis>
              <kendo-chart-x-axis-item [visible]="false"> </kendo-chart-x-axis-item>
            </kendo-chart-x-axis>
      
            <kendo-chart-y-axis>
              <kendo-chart-y-axis-item [visible]="false"> </kendo-chart-y-axis-item>
            </kendo-chart-y-axis>
          </kendo-chart>
    </div>
</div>
