<div class="charts-container">
    <div class="chart-item">
        <kendo-chart>
            <kendo-chart-series>
                <kendo-chart-series-item type="donut" [data]="donutData" categoryField="kind" field="share">
                    <kendo-chart-series-item-labels [content]="labelContent" color="#fff" background="none">
                    </kendo-chart-series-item-labels>
                </kendo-chart-series-item>
            </kendo-chart-series>
            <kendo-chart-legend [visible]="false"></kendo-chart-legend>
        </kendo-chart>
    </div>

    <div class="chart-item">
        <kendo-chart>
            <kendo-chart-title text="Hybrid car mileage report"></kendo-chart-title>
            <kendo-chart-legend position="top"></kendo-chart-legend>

            <kendo-chart-value-axis>
                @for (item of valueAxes; track item.name) {
                <kendo-chart-value-axis-item
                    [name]="item.name!"
                    [title]="item.title!"
                    [min]="item.min!"
                    [max]="item.max!"
                    [majorUnit]="item.majorUnit!"
                    [color]="item.color!"
                >
                </kendo-chart-value-axis-item>
                }
            </kendo-chart-value-axis>

            <kendo-chart-category-axis>
                <kendo-chart-category-axis-item [categories]="categories" [axisCrossingValue]="crossingValues">
                </kendo-chart-category-axis-item>
            </kendo-chart-category-axis>

            <kendo-chart-series>
                @for (item of series; track item.name) {
                <kendo-chart-series-item
                    [name]="item.name!"
                    [data]="item.data!"
                    [type]="item.type!"
                    [stack]="item.stack!"
                    [color]="item.color"
                    [axis]="item.axis!"
                >
                </kendo-chart-series-item>
                }
            </kendo-chart-series>
        </kendo-chart>
    </div>
</div>
