#login {
  .signin-form {
    margin: auto;
    text-align: left;
    border: none;
  }

  h1 {
    color: $primary;
  }

  a {
    color: $secondary;
  }

  label {
    margin: 0;
  }

  #app-subtitle {
    color: rgba($black, 1);
    font-weight: 400;
  }

  #app-title,
  #app-subtitle {
    letter-spacing: 2px;
  }

  .k-hr {
    background-color: $secondary;
    height: 2px;
    width: 2rem;
    margin: 0;

    &.k-hr-bottom {
      margin-top: auto;
      margin-bottom: 1rem;
    }
  }

  .k-card {
    min-height: 300px;
  }

  .custom-width {
      width:100%;
  }
}
