<kendo-tilelayout [columns]="2" autoFlow="none" [reorderable]="true">
    <kendo-tilelayout-item title="Tile 1">
        <kendo-tilelayout-item-body>
            {{ firstTileContent }}
        </kendo-tilelayout-item-body>
    </kendo-tilelayout-item>

    <kendo-tilelayout-item title="Tile 2">
        <kendo-tilelayout-item-body>
            {{ secondTileContent }}
        </kendo-tilelayout-item-body>
    </kendo-tilelayout-item>

    <kendo-tilelayout-item title="Tile 3">
        <kendo-tilelayout-item-body>
            {{ secondTileContent }}
        </kendo-tilelayout-item-body>
    </kendo-tilelayout-item>

    <kendo-tilelayout-item title="Tile 4">
        <kendo-tilelayout-item-body>
            {{ secondTileContent }}
        </kendo-tilelayout-item-body>
    </kendo-tilelayout-item>
</kendo-tilelayout>
