<div class="container text-center pb-5">
    <div class="d-flex justify-content-center py-5 align-items-center">
        <app-navigation></app-navigation>
    </div>

    <div class="scale-wrap d-flex justify-content-between">
        <div>-6%</div>
        <div>0%</div>
        <div>6%</div>
    </div>

    <div class="size-container d-flex justify-content-between">
        <div class="d-flex scale-blocks">
            <span style="background: #ec0006"></span>
            <span style="background: #fa2b2c"></span>
            <span style="background: #fa4949"></span>
            <span style="background: #ff7271"></span>
            <span style="background: #ff9693"></span>
            <span style="background: #cdddd4"></span>
            <span style="background: #09e98b"></span>
            <span style="background: #11dd86"></span>
            <span style="background: #0fcb74"></span>
            <span style="background: #00bc69"></span>
            <span style="background: #00a95b"></span>
        </div>
        <div>
            <span class="mr-3">Size: <span class="font-weight-bold">Market Cap (Intraday)</span></span>
            <span>Color:1 <span class="font-weight-bold">Day % of Change</span></span>
        </div>
    </div>
    <div class="heatmap-container" style="height: 900px" #heatmap></div>
</div>
