.page-title {
    background-image: url("/assets/speaker-bg-bg.svg");
}

.page-container {
    margin: -125px auto 0;
    max-width: 560px;

    @media (max-width: 559.98px) {
        max-width: 100%;
        margin-inline: var(--kendo-spacing-5);
    }
}

.k-form {
    margin-bottom: var(--kendo-spacing-15);
}

.fields-wrapper {
    display: flex;
    gap: var(--kendo-spacing-3\.5);
}

.fields-wrapper .k-form-field {
    flex: 1 1 auto;
    margin: 0;
}

.buttons-container {
    display: flex;
    gap: var(--kendo-spacing-2);
    margin-top: var(--kendo-spacing-3\.5);
}
