/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  padding-top: 0;
  font-family: 'Poppins', sans-serif;
  background-image: url('assets/bg.svg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}
