<div class="investments-page">
    <h4 class="k-h4 page-title">{{ customMsgService.translate('investments') }}</h4>
    <div class="investments-grid">
        <kendo-card
            class="investment-card investments-overview-card"
        >
            <kendo-card-body>
            <div class="card-heading">
                <h6 class="k-h6 card-title">{{ customMsgService.translate('totalInvestments') }}</h6>
                <span class="card-value">Placeholder</span>
            </div>
            <div class="card-content">
                <kendo-chart>
                    <kendo-chart-legend [position]="legendPosition">
                        <kendo-chart-legend-item cursor="pointer"></kendo-chart-legend-item>
                    </kendo-chart-legend>
                    <kendo-chart-series>
                        <kendo-chart-series-item
                            type="pie"
                            [data]="pieData"
                            field="value"
                            categoryField="category"
                            [labels]="{
                                visible: true,
                                content: labelContent,
                                position: 'center',
                                background: 'transparent'
                            }"
                        ></kendo-chart-series-item>
                    </kendo-chart-series>
                </kendo-chart>
            </div>
            </kendo-card-body>
        </kendo-card>
        <kendo-card
            class="investment-card movers-card"
        >
            <kendo-card-body>
            <div class="card-heading">
                <h6 class="k-h6 card-title movers-title">{{ customMsgService.translate('todayMovers') }}</h6>
            </div>
            <div class="movers-list">
                @for(currencyMover of currencyMovers; track currencyMover){
                <app-currency-mover [currencyMover]="currencyMover"></app-currency-mover>
                }
            </div>
            </kendo-card-body>
        </kendo-card>
    </div>
    <kendo-card
        class="investment-card stock-chart-card"
    >
        <kendo-card-body>
        <div class="card-heading">
            <h6 class="k-h6 card-title">{{ customMsgService.translate('stockChart') }}</h6>
        </div>
        <div class="card-content centered-content">
            <app-stock-chart></app-stock-chart>
        </div>
        </kendo-card-body>
    </kendo-card>
</div>
