.card-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.k-textarea {
    resize: none;
}
.comment-box {
    display: flex;
    flex-direction: column;
}
.card-comment-wrapper .box {
    display: flex;
    justify-content: space-between;
}
.card-post-comment-wrapper {
    display: flex;
    gap: var(--kendo-spacing-2);
    padding: var(--kendo-spacing-4) var(--kendo-spacing-4) 0;
}
.card-comment-wrapper {
    margin-bottom: var(--kendo-spacing-2);
    padding: 0 var(--kendo-spacing-4);
}
.card-comment-container {
    padding: var(--kendo-spacing-1) 0;
    align-items: center;
    display: flex;
}
.comment-box .comment-text {
    font-size: var(--kendo-font-size-sm);
    font-weight: bold;
    max-width: 100px;
}
.comment-box span {
    font-size: var(--kendo-font-size-xs);
    font-weight: normal;
    word-break: break-all;
}
.time span {
    margin-left: var(--kendo-spacing-2);
}
.box .k-button-icon {
    font-size: var(--kendo-font-size-md);
    align-self: center;
}
.post-likes-count {
    font-size: var(--kendo-font-size-sm);
    align-self: center;
    color: var(--kendo-color-subtle);
}
.k-button.k-flat:focus::after {
    display: none;
}
.k-button {
    outline: none;
}
.k-button .k-svg-icon {
    color: var(--kendo-color-error);
}
.k-card-subtitle .k-icon {
    vertical-align: baseline;
    font-size: var(--kendo-font-size-sm);
}
.k-card-header .k-card-title + .k-card-subtitle {
    margin-top: 0;
}
.k-card-title {
    margin-bottom: var(--kendo-spacing-1);
}
.k-card-media li img {
    width: 285px;
}
comment-actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.k-card-action {
    flex: 0 0 auto;
}
.k-avatar {
    margin-right: var(--kendo-spacing-4);
}
