html, body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

span.active {
    background-color: gray;
}

.col-xs {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%
}

.col-xs-12 {
    flex: 0 0 100%;
}

.nav-toggle .k-i-hamburger {
    font-size: 32px;
}
