<div style="display: flex; gap: 14px; flex-direction: column">
  <!-- Kendoka with slider -->
  <div style="display: flex; gap: 19px; flex-direction: row">
    <div style="display: flex; gap: 19px; position: relative">
      <div style="position: absolute; width: 105px; height: 153px; left: 12px">
        <div [innerHTML]="getKendokaSvg()"></div>
      </div>
      <div style="position: absolute; left: 112px; top: 50px; z-index: 101">
        <div [innerHTML]="getKendokaHand()"></div>
      </div>
    </div>

    <div
      class="k-d-flex k-flex-column k-border k-border-solid k-border-border k-rounded-lg k-bg-surface-alt"
      style="position: relative; height: 38px; left: 108px; box-shadow: 0px 3px 6px 0px rgba(4, 20, 42, 0.06)"
    >
      <kendo-slider
        style="width: 175px; padding: 4px 8px 3px 8px"
        [min]="1"
        [max]="10"
        [smallStep]="1"
        [(value)]="sliderValue"
      ></kendo-slider>
    </div>
  </div>

  <!-- Chart -->
  <div style="position: relative">
    <div
      class="k-d-flex k-flex-column k-border k-border-solid k-border-border k-rounded-lg k-bg-surface-alt"
      style="z-index: 100; box-shadow: 0px 3px 6px 0px rgba(4, 20, 42, 0.06)"
    >
      <div style="padding: 6px">
        <kendo-chart style="height: 186px; width: 100%">
          <kendo-chart-title text="Work Week Tracker" font="14px sans-serif" [padding]="0"></kendo-chart-title>
          <kendo-chart-legend position="bottom" orientation="horizontal" [labels]="{ font: '10px sans-serif' }" [padding]="0" [margin]="0"></kendo-chart-legend>
          <kendo-chart-category-axis>
            <kendo-chart-category-axis-item [categories]="categories" [labels]="{ padding: 0, margin: 0, font: '8px Arial, sans-serif' }"></kendo-chart-category-axis-item>
          </kendo-chart-category-axis>
          <kendo-chart-value-axis>
            <kendo-chart-value-axis-item [labels]="{ padding: 0, margin: 0, font: '8px Arial, sans-serif' }"></kendo-chart-value-axis-item>
          </kendo-chart-value-axis>
          <kendo-chart-series>
            <kendo-chart-series-item type="column" name="Coffees" [gap]="2" [spacing]="0.25" [data]="chartFirstSeries" color="#C0EAF5">
            </kendo-chart-series-item>
            <kendo-chart-series-item type="column" name="Commits" [data]="chartSecondSeries" color="#90B6FF">
            </kendo-chart-series-item>
            <kendo-chart-series-item type="column" name="Push-ups" [data]="chartThirdSeries" color="#5777EA">
            </kendo-chart-series-item>
          </kendo-chart-series>
        </kendo-chart>
      </div>
    </div>
  </div>

  <!-- Rating and Switch -->
  <div style="display: flex; gap: 14px; flex-direction: row">
    <div
      class="k-d-flex k-flex-column k-border k-border-solid k-border-border k-rounded-lg k-bg-surface-alt"
      style="box-shadow: 0px 3px 6px 0px rgba(4, 20, 42, 0.06)"
    >
      <div
        style="padding: 2px; width: 200px; justify-content: center; align-items: center; display: flex"
      >
        <kendo-rating [(value)]="ratingValue" [precision]="'half'"></kendo-rating>
      </div>
    </div>
    <div
      class="k-d-flex k-flex-column k-border k-border-solid k-border-border k-rounded-lg k-bg-surface-alt"
      style="box-shadow: 0px 3px 6px 0px rgba(4, 20, 42, 0.06)"
    >
      <div
        style="padding: 6px; width: 70px; justify-content: center; align-items: center; display: flex"
      >
        <kendo-switch [(ngModel)]="switchValue" [size]="'small'"></kendo-switch>
      </div>
    </div>
  </div>
</div>
