<div class="header">
    <h5>{{ selectedItem }} component</h5>
</div>
@if (selectedItem === 'Avatar') {
<div class="content" id="Avatar">
    <avatar-component></avatar-component>
</div>
} @if (selectedItem === 'Card') {
<div class="content" id="Card">
    <card-component></card-component>
</div>
} @if (selectedItem === 'ExpansionPanel') {
<div class="content" id="ExpansionPanel">
    <expansionpanel-component></expansionpanel-component>
</div>
} @if (selectedItem === 'GridLayout') {
<div class="content" id="GridLayout">
    <gridlayout-component></gridlayout-component>
</div>
} @if (selectedItem === 'PanelBar') {
<div class="content" id="PanelBar">
    <panelbar-component></panelbar-component>
</div>
} @if (selectedItem === 'Splitter') {
<div class="content" id="Splitter">
    <splitter-component></splitter-component>
</div>
} @if (selectedItem === 'StackLayout') {
<div class="content" id="StackLayout">
    <stacklayout-component></stacklayout-component>
</div>
} @if (selectedItem === 'Stepper') {
<div class="content" id="Stepper">
    <stepper-component></stepper-component>
</div>
} @if (selectedItem === 'TabStrip') {
<div class="content" id="TabStrip">
    <tabstrip-component></tabstrip-component>
</div>
} @if (selectedItem === 'TileLayout') {
<div class="content" id="TileLayout">
    <tilelayout-component></tilelayout-component>
</div>
} @if (selectedItem === 'Timeline') {
<div class="content" id="Timeline">
    <timeline-component></timeline-component>
</div>
}
