.settings-page {
    padding: var(--kendo-spacing-8) var(--kendo-spacing-15) var(--kendo-spacing-2);
    margin-block-end: var(--kendo-spacing-4);
}

.page-title {
    margin-block: 0 var(--kendo-spacing-6);
    overflow: hidden;
    text-overflow: ellipsis;
}

.settings-layout {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: var(--kendo-spacing-4);
    overflow: hidden;
}

.settings-layout-spaced {
    margin-block-end: var(--kendo-spacing-5);
}

.settings-panel {
    display: flex;
    grid-column: span 12;
    flex-direction: column;
    gap: var(--kendo-spacing-1);
    padding: var(--kendo-spacing-4);
    border-radius: var(--kendo-border-radius-xxl);
    background-color: var(--kendo-color-surface-alt);
}

.panel-heading,
.panel-content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.panel-title {
    font-weight: var(--kendo-font-weight-medium);
}

.form-row {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: var(--kendo-spacing-4);
    margin-block-end: var(--kendo-spacing-4);
}

.form-field {
    grid-column: span 2;
}

.form-label {
    display: block;
    margin-block-end: var(--kendo-spacing-1);
    font-size: var(--kendo-font-size-md);
}

.form-actions {
    display: flex;
    grid-column: span 2;
    gap: var(--kendo-spacing-2);
}

.calendar-content {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
    gap: var(--kendo-spacing-3);
}

.settings-calendar {
    border: 0;
    box-shadow: var(--kendo-elevation-5);
}

.weather-content,
.weather-summary,
.weather-details {
    display: flex;
    flex-direction: column;
}

.weather-content {
    flex: 1 1 auto;
    gap: var(--kendo-spacing-3);
}

.weather-summary,
.weather-details {
    align-items: center;
    justify-content: center;
}

.weather-summary {
    gap: var(--kendo-spacing-2);
}

.weather-details {
    font-size: var(--kendo-font-size-sm);
}

.weather-icon {
    width: var(--kendo-spacing-18);
    height: var(--kendo-spacing-18);
    font-size: var(--kendo-spacing-18);
}

.weather-description {
    font-size: var(--kendo-font-size-xl);
}

.weather-temperature {
    margin: 0;
    color: var(--kendo-color-info-on-surface);
}

.weather-divider {
    border-block-start: 1px solid var(--kendo-color-border);
    opacity: 0.2;
}

@media (min-width: 48rem) {
    .form-field {
        grid-column: span 1;
    }
}

@media (min-width: 64rem) {
    .settings-layout {
        gap: var(--kendo-spacing-6);
    }

    .information-panel,
    .card-information-panel {
        grid-column: span 8;
    }

    .calendar-panel,
    .weather-panel {
        grid-column: span 4;
    }
}
