<div
    class="settings-page"
>
    <h4 class="k-h4 page-title">
        {{ customMsgService.translate('settings') }}
    </h4>
    <div class="settings-layout settings-layout-spaced">
        <div
            class="settings-panel information-panel"
        >
            <div class="panel-heading">
                <h6 class="k-h6 panel-title">
                    {{ customMsgService.translate('personalInformation') }}
                </h6>
            </div>
            <form [formGroup]="userForm" (ngSubmit)="saveUserInfo()">
                <div class="form-row">
                    <div class="form-field">
                        <kendo-label
                            class="form-label"
                            [for]="'name'"
                            [text]="customMsgService.translate('name')"
                        ></kendo-label>
                        <kendo-textbox formControlName="name"></kendo-textbox>
                    </div>
                    <div class="form-field">
                        <kendo-label
                            class="form-label"
                            [for]="'surname'"
                            [text]="customMsgService.translate('surname')"
                        ></kendo-label>
                        <kendo-textbox formControlName="surname"></kendo-textbox>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-field">
                        <kendo-label
                            class="form-label"
                            [for]="'email'"
                            [text]="customMsgService.translate('email')"
                        ></kendo-label>
                        <kendo-textbox formControlName="email"></kendo-textbox>
                    </div>
                    <div class="form-field">
                        <kendo-label
                            class="form-label"
                            [for]="'tag'"
                            [text]="customMsgService.translate('tag')"
                        ></kendo-label>
                        <kendo-textbox formControlName="tag"></kendo-textbox>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-field">
                        <kendo-label
                            class="form-label"
                            [for]="'birthday'"
                            [text]="customMsgService.translate('birthday')"
                        ></kendo-label>
                        <kendo-dateinput formControlName="birthday"></kendo-dateinput>
                    </div>
                    <div class="form-field">
                        <kendo-label
                            class="form-label"
                            [for]="'country'"
                            [text]="customMsgService.translate('country')"
                        ></kendo-label>
                        <kendo-dropdownlist formControlName="country" [data]="countries"></kendo-dropdownlist>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-field">
                        <kendo-label
                            class="form-label"
                            [for]="'address'"
                            [text]="customMsgService.translate('address')"
                        ></kendo-label>
                        <kendo-textbox formControlName="address"></kendo-textbox>
                    </div>
                    <div class="form-field">
                        <kendo-label
                            class="form-label"
                            [for]="'postCode'"
                            [text]="customMsgService.translate('postCode')"
                        ></kendo-label>
                        <kendo-textbox formControlName="postCode"></kendo-textbox>
                    </div>

                    <div class="form-actions">
                        <button
                            kendoButton
                            themeColor="primary"
                            [style.width.px]="110"
                            type="submit"
                            [disabled]="userForm.invalid || (!userForm.touched && !userForm.dirty)"
                        >
                            {{ customMsgService.translate('save') }}
                        </button>
                        <button
                            kendoButton
                            [style.width.px]="110"
                            type="button"
                            fillMode="outline"
                            (click)="restoreUserInfo()"
                            [disabled]="!userForm.touched && !userForm.dirty"
                        >
                            {{ customMsgService.translate('restore') }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div
            class="settings-panel calendar-panel"
        >
            <div class="panel-heading">
                <h6 class="k-h6 panel-title">
                    {{ customMsgService.translate('calendar') }}
                </h6>
            </div>
            <div class="calendar-content">
                <kendo-calendar
                    class="settings-calendar"
                    #calendar
                    [navigation]="false"
                ></kendo-calendar>
            </div>
        </div>
    </div>
    <div class="settings-layout">
        <div
            class="settings-panel card-information-panel"
        >
            <div class="panel-heading">
                <h6 class="k-h6 panel-title">
                    {{ customMsgService.translate('cardInformation') }}
                </h6>
            </div>
            <div class="panel-content">
                <form [formGroup]="cardForm" (ngSubmit)="saveCardInfo()">
                    <div class="form-row">
                        <div class="form-field">
                            <kendo-label
                                class="form-label"
                                [for]="'bank'"
                                [text]="customMsgService.translate('bank')"
                            ></kendo-label>
                            <kendo-textbox formControlName="bank"></kendo-textbox>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-field">
                            <kendo-label
                                class="form-label"
                                [for]="'expirationDate'"
                                [text]="customMsgService.translate('expirationDate')"
                            ></kendo-label>
                            <kendo-datepicker
                                formControlName="expirationDate"
                                [clearButton]="true"
                                format="MM/yyyy"
                                bottomView="year"
                            ></kendo-datepicker>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-field">
                            <kendo-label
                                class="form-label"
                                [for]="'cardHolder'"
                                [text]="customMsgService.translate('cardHolder')"
                            ></kendo-label>
                            <kendo-textbox formControlName="cardHolder"></kendo-textbox>
                        </div>
                        <div class="form-field">
                            <kendo-label
                                class="form-label"
                                [for]="'cardNumber'"
                                [text]="customMsgService.translate('cardNumber')"
                            ></kendo-label>
                            <kendo-maskedtextbox
                                formControlName="cardNumber"
                                [mask]="'000 000 000 000'"
                            ></kendo-maskedtextbox>
                        </div>
                        <div class="form-actions">
                            <button
                                kendoButton
                                themeColor="primary"
                                [style.width.px]="110"
                                type="submit"
                                [disabled]="cardForm.invalid || (!cardForm.touched && !cardForm.dirty)"
                            >
                                {{ customMsgService.translate('save') }}
                            </button>
                            <button
                                kendoButton
                                [style.width.px]="110"
                                type="button"
                                fillMode="outline"
                                [disabled]="!cardForm.touched && !cardForm.dirty"
                                (click)="restoreCardInfo()"
                            >
                                {{ customMsgService.translate('restore') }}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div
            class="settings-panel weather-panel"
        >
            <div class="panel-heading">
                <h6 class="k-h6 panel-title">
                    {{ customMsgService.translate('weather') }}
                </h6>
            </div>
            <div class="weather-content">
                <div class="weather-summary">
                    <kendo-svg-icon [icon]="cloudIcon" class="weather-icon"></kendo-svg-icon>
                    <span class="weather-description">{{ customMsgService.translate('partlyCloudy') }}</span>
                    <span class="k-h4 weather-temperature">12&#x2103;</span>
                </div>
                <span class="weather-divider"></span>
                <div class="weather-details">
                    <span>{{ customMsgService.translate('humidity') }}: 56%</span>
                    <span>{{ customMsgService.translate('dew') }}: 2 &deg;C</span>
                    <span
                        >{{ customMsgService.translate('pressure') }}: 1043 mb</span
                    >
                    <span
                        >{{ customMsgService.translate('windSpeed') }}: 30km/h NW</span
                    >
                </div>
            </div>
        </div>
    </div>
</div>
