<form class="k-form k-form-md">
    <fieldset>
        <legend>Accessibility Settings</legend>

        <kendo-label text="Text size:"></kendo-label>
        <br>
        <kendo-numeric-textbox-buttons></kendo-numeric-textbox-buttons>
        <br>
        <kendo-label text="Color theme:"></kendo-label>
        <br>
        <kendo-buttongroup>
            <kendo-button [toggleable]="true">Contrast</kendo-button>
            <kendo-button [toggleable]="true">Dark</kendo-button>
        </kendo-buttongroup>
        <br>

        <kendo-label text="Font:"></kendo-label>
        <br>
        <kendo-buttongroup>
            <kendo-button [toggleable]="true" (click)="changeFont('legible')">Legible Font</kendo-button>
            <kendo-button [toggleable]="true" (click)="changeFont('dyslexia')">Dyslexia Font</kendo-button>
        </kendo-buttongroup>

        <kendo-button [toggleable]="true">Underiline Links</kendo-button>
        <br>
        <kendo-button [toggleable]="true">Pause Animation</kendo-button>
        <br>
        <kendo-button [toggleable]="true">Large Size Widgets</kendo-button>
        <br>

        <kendo-label text="Line Height:"></kendo-label>
        <br>
        <kendo-numeric-textbox-buttons></kendo-numeric-textbox-buttons>
        <br>

        <kendo-label text="Letter Spacing:"></kendo-label>
        <br>
        <kendo-numeric-textbox-buttons></kendo-numeric-textbox-buttons>
    </fieldset>
</form>
