<div class="grid">
    <div class="wrapper">
        <div class="component">
            <p>DatePicker</p>
            <kendo-datepicker [(value)]="range.start"></kendo-datepicker>
        </div>
        <div class="component">
            <p>DateTimePicker</p>
            <kendo-datetimepicker [(value)]="range.start"></kendo-datetimepicker>
        </div>
        <div class="component">
            <p>DateRange</p>
            <div class="daterange-wrapper">
                <kendo-daterange>
                    <kendo-floatinglabel text="Check-in">
                        <kendo-dateinput kendoDateRangeStartInput [(value)]="range.start"></kendo-dateinput>
                    </kendo-floatinglabel>
                    <kendo-floatinglabel text="Check-out">
                        <kendo-dateinput kendoDateRangeEndInput [(value)]="range.end"></kendo-dateinput>
                    </kendo-floatinglabel>
                </kendo-daterange>
            </div>
        </div>
    </div>
    <div>
        <kendo-calendar [(value)]="range" selection="range"></kendo-calendar>
    </div>
</div>
