.grid {
    display: flex;
    grid: auto auto / 1fr 1fr;
    grid-gap: 40px;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.component {
    width: 460px;
}

.k-daterangepicker {
    justify-content: space-between;
}
