.grid {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 25rem);
    gap: var(--kendo-spacing-5);
    align-items: start;
}

.grid > *,
.wrapper,
.component {
    min-width: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--kendo-spacing-5);
}

.component > p {
    margin: 0 0 var(--kendo-spacing-2);
}

.k-daterangepicker {
    justify-content: space-between;
}

@media (max-width: 995px) {
    .grid {
        grid-template-columns: minmax(0, 1fr);
    }
}

@media (max-height: 600px) {
    .k-animation-container:has(.k-datetimepicker-popup) {
        max-height: calc(100vh - 300px);
        max-height: calc(100dvh - 300px);
        overflow-x: hidden;
        overflow-y: auto;
    }
}
