@use "../../../styles/variables" as vars;

.footer {
    position: fixed;
    bottom: 0;
    padding: vars.$footer-padding;
    background: url('../../../assets/footer-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: blue;
    z-index: 999;
    font-size: vars.$footer-font-size;
    color: vars.$white;

    .progress-logo {
        width: vars.$progress-logo-width;
        height: vars.$progress-logo-height;
        vertical-align: middle;
        background-image: url('../../../assets/progress-logo.svg');
        background-position: center;
        background-repeat: no-repeat;
    }
}
