<div
    class="assistant-page"
>
    <h4 class="k-h4 page-title">
        {{ customMsgService.translate('aiAssistant') }}
    </h4>
    <div class="assistant-layout">
        <div
            class="assistant-panel topics-panel"
        >
            <div class="panel-heading topics-heading">
                <h6 class="k-h6 panel-title">
                    {{ customMsgService.translate('relatedTopics') }}
                </h6>
            </div>
            <div class="topics-list" [style.maxHeight.px]="520">
                @for(topic of relatedTopics; track topic){
                <kendo-expansionpanel [expanded]="topic.expanded">
                    <ng-template kendoExpansionPanelTitleDirective>
                        <span class="topic-title">{{ topic.title }}</span>
                    </ng-template>
                    <div class="content-text">{{ topic.description }}</div>
                </kendo-expansionpanel>
                }
            </div>
        </div>
        <div
            class="assistant-panel prompt-panel"
        >
            <div class="panel-heading prompt-heading">
                <h6 class="k-h6 panel-title">
                    {{ customMsgService.translate('chatWithRoby') }}
                </h6>
            </div>
            <div class="prompt-content">
                <kendo-aiprompt
                    [style.maxHeight.px]="520"
                    [style.maxWidth.px]="390"
                    [style.height.px]="520"
                    #aiPrompt
                    [promptOutputs]="promptOutputs"
                    [(activeView)]="activeView"
                    (promptRequest)="onPromptRequest($event)"
                    [promptSuggestions]="promptSuggestions"
                >
                    <kendo-aiprompt-prompt-view></kendo-aiprompt-prompt-view>
                    <kendo-aiprompt-output-view></kendo-aiprompt-output-view>
                </kendo-aiprompt>
            </div>
        </div>
    </div>
</div>
