@use '../../../styles/variables' as *;

.k-splitter {
    border-width: 0;

    .k-splitbar {
        position: relative;
        background-color: var(--kendo-color-base-emphasis);
        box-shadow: $splitter-bar-boxshadow;
    }

    .k-pane:not(.k-pane-static) {
        background-color: $body-base-bg;
    }

    .k-pane.splitter-upper-pane {
        background-color: $white;
    }
}

.portfolio-view-switcher {
    display: flex;
    justify-content: center;
}
