<div class="transaction-details">
    <div class="detail-field">
        <kendo-label
            class="detail-label"
            [for]="merchant"
            [text]="customMsgService.translate('merchant')"
        ></kendo-label>
        <kendo-textbox #merchant [readonly]="true" [value]="transaction.merchant"></kendo-textbox>
    </div>

    <div class="detail-field">
        <kendo-label
            class="detail-label"
            [text]="customMsgService.translate('orderStatus')"
        ></kendo-label>
        <kendo-chip
            class="detail-chip"
            [style.width.px]="68"
            [style.height.px]="28"
            [themeColor]="getThemeColor()"
            [label]="transaction.orderStatus"
        ></kendo-chip>
    </div>

    <div class="detail-field">
        <kendo-label
            class="detail-label"
            [for]="purchaseTime"
            [text]="customMsgService.translate('time')"
        ></kendo-label>
        <kendo-dateinput
            #purchaseTime
            [readonly]="true"
            [value]="getTransactionTime()"
            format="h:mm a MMMM dd, yyyy"
        ></kendo-dateinput>
    </div>

    <div class="detail-field">
        <kendo-label
            class="detail-label"
            [for]="customer"
            [text]="customMsgService.translate('customer')"
        ></kendo-label>
        <kendo-textbox #customer [readonly]="true" [value]="'Maria Johnson'"></kendo-textbox>
    </div>

    <div class="detail-field">
        <kendo-label
            class="detail-label"
            [for]="email"
            [text]="customMsgService.translate('email')"
        ></kendo-label>
        <kendo-textbox #email [readonly]="true" [value]="'mariajohnson@email.com'"></kendo-textbox>
    </div>

    <div class="detail-field">
        <kendo-label
            class="detail-label"
            [text]="customMsgService.translate('paymentMethod')"
        ></kendo-label>
        @if(transaction.paymentMethod === 'Credit Card' || transaction.paymentMethod === 'Debit Card') {
        <img
            [src]="transaction.cardType === 'Visa' ? 'assets/visa-logo.png' : 'assets/mastercard-logo.png'"
            width="52px"
            height="32px"
        />
        } @else {
        <kendo-chip
            class="detail-chip"
            [style.width.px]="transaction.paymentMethod === 'Bank Transfer' ? 84 : 44"
            [style.height.px]="24"
            [themeColor]="'info'"
            [label]="transaction.paymentMethod"
            [attr.title]="transaction.paymentMethod"
        ></kendo-chip>
        }
    </div>

    <div class="detail-field">
        <kendo-label
            class="detail-label"
            [for]="transactionHash"
            [text]="customMsgService.translate('transactionHash')"
        ></kendo-label>
        <kendo-textbox
            #transactionHash
            class="detail-link"
            [readonly]="true"
            [value]="transaction.transactionHashFrom ? transaction.transactionHashFrom : ''"
        ></kendo-textbox>
    </div>

    <div class="detail-field">
        <kendo-label
            class="detail-label"
            [for]="from"
            [text]="customMsgService.translate('from')"
        ></kendo-label>
        <kendo-textbox
            #from
            class="detail-link"
            [readonly]="true"
            [value]="transaction.transactionHashFrom ? transaction.transactionHashFrom : ''"
        ></kendo-textbox>
    </div>

    <div class="detail-field">
        <kendo-label
            class="detail-label"
            [for]="to"
            [text]="customMsgService.translate('to')"
        ></kendo-label>
        <kendo-textbox
            #to
            class="detail-link"
            [readonly]="true"
            [value]="transaction.transactionHashTo ? transaction.transactionHashTo : ''"
        ></kendo-textbox>
    </div>
</div>
