@use '../../../styles/variables' as *;

.k-grid {
    tbody td {
        white-space: nowrap;
        line-height: var(--kendo-line-height);
        padding: var(--kendo-spacing-1\.5);
    }
    .grid-price-cell {
        padding: var(--kendo-spacing-1) var(--kendo-spacing-3);
    }

    .price-up {
        color: $positive-value;
    }

    .price-down {
        color: $negative-value;
    }
}

.price-down,
.price-up {
    animation-duration: var(--kendo-duration-leisurely);
    animation-name: blink;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-timing-function: var(--kendo-easing-standard);
}
@keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.4;
    }
}

.back-icon {
    font-size: var(--kendo-font-size-xl);
    cursor: pointer;
    outline: none;
}
