<p class="my-portfolio-title">Links</p>
<div class="action-buttons">
    <a class="k-button k-flat k-text-left" href="https://github.com/telerik/kendo-angular/tree/master/examples-standalone/grid-live-data" target="_blank"
    role="button"><span class="k-icon k-i-download"></span>Download on Github</a>
    <a class="k-button k-flat k-text-left" href="https://www.telerik.com/kendo-angular-ui/components/" target="_blank"
    role="button"><span class="k-icon k-i-file-txt"></span>Documentation</a>
</div>
