kendo-recurrence-frequency-editor .k-edit-label {
    width: unset;
    margin-right: 10px;
}

kendo-recurrence-frequency-editor .k-edit-field {
    width: unset;
    float: none;
}

.k-team-mark {
    width: 1em;
    height: 1em;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}
