<div class="planning-page main-content">
  <div class="card-container grid">
    <header class="page-header">
      <div>
        <h1>{{ customMsgService.translate('planning') }}</h1>
        <p>{{ customMsgService.translate('planningDescription') }}</p>
      </div>
      <span class="page-status">{{ customMsgService.translate('lastUpdated') }}</span>
    </header>
    <h3 class="card-title">{{ customMsgService.translate('teamCalendar') }}</h3>
    <app-card-component class="card-component personal-card" (toggleEvents)="toggleEvents($event)"> </app-card-component>

    <div class="card-component">
      <kendo-scheduler
        [kendoSchedulerBinding]="data"
        [kendoSchedulerReactiveEditing]="createFormGroup"
        [selectedDate]="selectedDate"
        [selectedViewIndex]="1"
        [timezone]="'Etc/UTC'"
        class="planning-scheduler"
        startTime="08:00"
        endTime="19:00"
        [eventStyles]="setEventStyles"
        >
        <kendo-scheduler-day-view> </kendo-scheduler-day-view>
        <kendo-scheduler-work-week-view scrollTime="12:00"> </kendo-scheduler-work-week-view>
        <kendo-scheduler-week-view> </kendo-scheduler-week-view>
        <kendo-scheduler-month-view> </kendo-scheduler-month-view>

        <ng-template
          kendoSchedulerEditDialogTemplate
          autoFocusedElement=".title input"
          let-formGroup="formGroup"
          let-isNew="isNew"
          let-editMode="editMode"
          >
          <form class="k-form k-form-vertical" [formGroup]="formGroup">
            <fieldset class="k-form-fieldset">
              <kendo-formfield orientation="vertical">
                <span>{{ customMsgService.translate('schedulerStart') }}</span>
                <kendo-datetimepicker [popupSettings]="{ appendTo: 'root' }" [formControl]="formGroup.get('start')">
                </kendo-datetimepicker>
              </kendo-formfield>

              <kendo-formfield orientation="vertical">
                <span>{{ customMsgService.translate('schedulerEnd') }}</span>
                <kendo-datetimepicker [popupSettings]="{ appendTo: 'root' }" [formControl]="formGroup.get('end')">
                </kendo-datetimepicker>
              </kendo-formfield>

              <kendo-formfield orientation="vertical">
                <span>{{ customMsgService.translate('schedulerTitle') }}</span>
                <kendo-textbox [placeholder]="customMsgService.translate('schedulerTitle')" [formControl]="formGroup.get('title')"> </kendo-textbox>
              </kendo-formfield>

              <kendo-formfield>
                <span>{{ customMsgService.translate('schedulerDescription') }}</span>
                <kendo-textarea
                  [rows]="2"
                  [placeholder]="customMsgService.translate('schedulerDescriptionPlaceholder')"
                  [formControl]="formGroup.get('description')"
                  >
                </kendo-textarea>
              </kendo-formfield>

              <kendo-formfield>
                <kendo-label class="k-checkbox-label" [text]="customMsgService.translate('schedulerAllDayEvent')">
                  <input type="checkbox" kendoCheckBox [formControl]="formGroup.get('isAllDay')" />
                </kendo-label>
              </kendo-formfield>

              <kendo-formfield>
                <span>{{ customMsgService.translate('schedulerTeam') }}</span>
                <kendo-dropdownlist
                  [data]="teams"
                  [valuePrimitive]="true"
                  valueField="teamID"
                  textField="teamName"
                  [formControl]="formGroup.get('teamID')"
                  >
                  <ng-template kendoDropDownListValueTemplate let-dataItem>
                    <span class="team-mark team-mark--{{ dataItem.teamID }}"></span>&nbsp;{{
                    dataItem?.teamName
                    }}
                  </ng-template>
                  <ng-template kendoDropDownListItemTemplate let-dataItem>
                    <span class="team-mark team-mark--{{ dataItem.teamID }}"></span>
                    {{ dataItem.teamName }}
                  </ng-template>
                </kendo-dropdownlist>
              </kendo-formfield>
            </fieldset>
          </form>

          <!-- Separate form for recurrence editor -->
          <form class="recurrence-form" [formGroup]="formGroup">
            @if (isEditingSeries(editMode)) {
              <div>
                <kendo-recurrence-editor [formControl]="formGroup.get('recurrenceRule')"> </kendo-recurrence-editor>
              </div>
            }
          </form>
        </ng-template>
      </kendo-scheduler>
    </div>
  </div>
</div>
