.example-wrapper {
    width: 340px;
    margin: 0 auto;
    box-shadow: var(--kendo-elevation-3);
    border-radius: var(--kendo-border-radius-xxxl);
}
.page {
    padding: var(--kendo-spacing-5) var(--kendo-spacing-2\.5);
}
.content {
    background: var(--kendo-color-surface);
    height: 420px;
    overflow: auto;
}
.box {
    padding: var(--kendo-spacing-1);
    background-color: var(--kendo-color-success-subtle);
}
.big {
    background-color: var(--kendo-color-error-subtle);
}
.rect {
    background-color: var(--kendo-color-warning-subtle);
}
