.example-wrapper {
    min-height: 280px;
    align-content: flex-start;
}

.example-wrapper p,
.example-col p {
    margin: 0 0 10px;
}

.example-wrapper p:first-child,
.example-col p:first-child {
    margin-top: 0;
}

.example-col {
    display: inline-block;
    vertical-align: top;
    padding-right: 20px;
    padding-bottom: 20px;
}

.example-config {
    margin: 0 0 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.03);
    border: 1px solid rgba(0, 0, 0, 0.08);
}

.event-log {
    margin: 0;
    padding: 0;
    max-height: 100px;
    overflow-y: auto;
    list-style-type: none;
    border: 1px solid rgba(0, 0, 0, 0.08);
    background-color: #fff;
}

.event-log li {
    margin: 0;
    padding: 0.3em;
    line-height: 1.2em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.event-log li:last-child {
    margin-bottom: -1px;
}
