<div class="currency-mover">
    <div class="currency-identity">
        <img [src]="currencyMover.imgPath" alt="placeholder" height="44px" width="44px" />
        <div class="currency-label">
            <span class="currency-code">{{ currencyMover.abbreviation }}</span>
            <span class="currency-name">{{ currencyMover.name }}</span>
        </div>
    </div>
    <div class="currency-metric">
        <span class="metric-value">{{
            intl.formatNumber(currencyMover.firstParameter, customCurrencyOptions)
        }}</span>
        <div class="metric-change">
            <kendo-svgicon
                [icon]="currencyMover.firstParameterChange > 0 ? upIcon : downIcon"
                [themeColor]="currencyMover.firstParameterChange > 0 ? 'success' : 'error'"
            ></kendo-svgicon>
            <span
                class="metric-change-value"
                [ngClass]="currencyMover.firstParameterChange > 0 ? 'positive-change' : 'negative-change'"
                >{{
                    intl.formatNumber(getAbsoluteValue(currencyMover.firstParameterChange), {
                        style: 'accounting',
                        minimumFractionDigits: 1
                    })
                }}
                ({{ intl.formatNumber(currencyMover.firstParameterPercentage, { style: 'percent' }) }})</span
            >
        </div>
    </div>

    <div class="currency-metric">
        <span class="metric-value">{{
            intl.formatNumber(currencyMover.secondParameter, customCurrencyOptions)
        }}</span>
        <div class="metric-change">
            <kendo-svgicon
                [icon]="currencyMover.secondParameterChange > 0 ? upIcon : downIcon"
                [themeColor]="currencyMover.secondParameterChange > 0 ? 'success' : 'error'"
            ></kendo-svgicon>
            <span
                class="metric-change-value"
                [ngClass]="currencyMover.secondParameterChange > 0 ? 'positive-change' : 'negative-change'"
                >{{
                    intl.formatNumber(getAbsoluteValue(currencyMover.secondParameterChange), {
                        style: 'accounting',
                        minimumFractionDigits: 1
                    })
                }}
                ({{ intl.formatNumber(currencyMover.secondParameterPercentage, { style: 'percent' }) }})</span
            >
        </div>
    </div>

    <div class="currency-metric">
        <span class="metric-value">{{
            intl.formatNumber(currencyMover.totalValue, customCurrencyOptions)
        }}</span>
    </div>
</div>
