.application-shell,
.application-content {
    height: 100vh;
}

.application-drawer {
    position: fixed;
    flex: none;
    height: 100vh;
    overflow-y: auto;
}

.application-content {
    display: flex;
    flex-direction: column;
}

.application-main {
    flex-grow: 1;
}

.k-drawer-item.k-selected {
    background-color: var(--kendo-color-primary);
    color: var(--kendo-color-surface-alt);
}

.k-drawer-item.k-selected:hover {
    background-color: var(--kendo-color-primary);
    color: var(--kendo-color-surface-alt);
}

.k-drawer-item.k-selected:focus,
.k-drawer-item.k-selected.k-focus {
    background-color: var(--kendo-color-primary);
    color: var(--kendo-color-surface-alt);
    box-shadow: none;
}

.k-drawer-mini .k-drawer-wrapper {
    width: calc(
        var(--kendo-spacing-4) * 2 +
        var(--kendo-spacing-4) +
        var(--kendo-spacing-1) * 2 +
        var(--kendo-spacing-3) * 2
    ) !important;
}

.k-drawer-items:has(.header-item) {
    padding-block-end: 0;
}

.k-drawer-items {
    padding-block-start: 0;
}

.k-drawer-container .k-drawer-content {
    padding-block: var(--kendo-spacing-0);
    padding-inline: var(--kendo-spacing-0);
}

@media (max-width: 35.9375rem) {
    .application-content {
        height: auto;
        min-height: 100vh;
    }

    .application-main {
        min-width: 0;
    }
}