.k-text-blue {
  color: var(--kendo-color-series-b);
}

.k-vertical-separator {
  width: 50px;
  border: 1px solid #FFFFFF;
  opacity: 20%;
  transform: rotate(-90deg);
  border-radius: 3px;
  align-content: center;
}