<div class="k-px-15 k-px-sm-15 k-px-md-15 k-px-lg-15 k-px-xl-15 k-py-2 k-py-sm-1 k-py-md-1 k-py-lg-2 k-py-xl-2 k-pt-8">
  <h4 class="k-h4 !k-mb-6 k-text-ellipsis">{{customMsgService.translate('overview')}}</h4>
  <div class="k-d-grid k-grid-cols-12 k-gap-4 k-gap-lg-6 k-overflow-hidden">
    @for(card of overviewCards; track card){
    <app-card-triple-view
      class="k-col-span-12 k-col-span-md-12 k-col-span-lg-4 k-col-span-xl-4 k-d-flex k-flex-col k-flex-basis-0 k-flex-grow k-bg-surface-alt k-align-items-start k-justify-content-center k-px-4 k-py-4 k-gap-2 k-rounded-xxl"
      [cardData]="card"></app-card-triple-view>
    }
    <div
      class="k-col-span-12 k-col-span-xl-6 k-d-flex k-flex-col k-flex-basis-0 k-flex-grow k-bg-surface-alt k-rounded-xxl k-gap-4 k-p-4">
      <div class="k-d-flex k-d-flex-col k-justify-content-between k-align-items-start k-gap-0">
        <h6 class="k-h6 k-font-medium">{{customMsgService.translate('savings')}}</h6>
        <span class="k-font-size-xl k-font-normal">{{intl.formatNumber(104500,
          customCurrencyOptions)}}</span>
      </div>
      <div class="k-flex-1 k-d-flex k-d-flex-col k-h-full k-gap-3">
        @for(saving of savings; track saving){
        <app-saving-item [saving]="saving"></app-saving-item>
        }
      </div>
    </div>
    <div
      class="k-col-span-12 k-col-span-xl-6 k-d-flex k-flex-col k-flex-basis-0 k-flex-grow k-bg-surface-alt k-rounded-xxl k-gap-4 k-p-4">
      <div class="k-d-flex k-d-flex-col k-justify-content-between k-align-items-start k-gap-0">
        <h6 class="k-h6 k-font-medium">{{customMsgService.translate('budgetUtilization')}}</h6>
        <span class="k-font-size-xl k-font-normal">{{customMsgService.translate('budgetUsed')}}</span>
      </div>
      <div class="k-flex-1 k-d-flex k-d-flex-col k-h-full k-gap-1 k-justify-content-center">
        <kendo-arcgauge [value]="50" [colors]="colors">
          <ng-template kendoArcGaugeCenterTemplate let-value="value">
            <span class="k-h5 k-text-blue">{{ value }}%</span>
          </ng-template>
        </kendo-arcgauge>
        <div class="k-flex-1 k-d-flex k-d-flex-row k-justify-content-center k-align-items-center k-gap-1">
          <div class="k-d-flex k-d-flex-col">
            <span class="k-font-size-lg k-font-normal k-text-left">{{intl.formatNumber(15000,
              customCurrencyOptions)}}</span>
            <span class="k-font-size-md k-font-bold k-text-left">{{customMsgService.translate('totalBudget')}}</span>
          </div>
          <span class="k-vertical-separator"></span>
          <div class="k-d-flex k-d-flex-col">
            <span class="k-font-size-lg k-font-normal k-text-right">{{intl.formatNumber(7500,
              customCurrencyOptions)}}</span>
            <span class="k-font-size-md k-font-bold k-text-right">{{customMsgService.translate('usedBudget')}}</span>
          </div>
        </div>
      </div>
    </div>
    <div
      class="k-col-span-12 k-col-span-xl-12 k-d-flex k-flex-col k-flex-basis-0 k-flex-grow k-bg-surface-alt k-rounded-xxl k-gap-4 k-p-4 k-mb-4">
      <div class="k-d-flex k-d-flex-col k-justify-content-between k-align-items-start k-gap-0">
        <h6 class="k-h6 k-font-medium">{{customMsgService.translate('transactions')}}</h6>
      </div>
      <div class="k-flex-1 k-d-flex k-d-flex-col k-h-full k-gap-1 k-justify-content-center">
        <app-transactions-grid [pageSize]="7"></app-transactions-grid>
      </div>
    </div>
  </div>