<div class="overview-page">
    <h4 class="k-h4 page-title">{{ customMsgService.translate('overview') }}</h4>
    <div class="overview-grid">
        @for(card of overviewCards; track card){
        <app-card-triple-view
            class="overview-summary-card"
            [cardData]="card"
        ></app-card-triple-view>
        }
        <div
            class="overview-panel savings-panel"
        >
            <div class="panel-heading">
                <h6 class="k-h6 panel-title">{{ customMsgService.translate('savings') }}</h6>
                <span class="panel-value">{{ intl.formatNumber(104500, customCurrencyOptions) }}</span>
            </div>
            <div class="panel-content savings-list">
                @for(saving of savings; track saving){
                <app-saving-item [saving]="saving"></app-saving-item>
                }
            </div>
        </div>
        <div
            class="overview-panel budget-panel"
        >
            <div class="panel-heading">
                <h6 class="k-h6 panel-title">{{ customMsgService.translate('budgetUtilization') }}</h6>
                <span class="panel-value">{{ customMsgService.translate('budgetUsed') }}</span>
            </div>
            <div class="panel-content budget-content">
                <kendo-arcgauge [value]="50" [colors]="colors">
                    <ng-template kendoArcGaugeCenterTemplate let-value="value">
                        <span class="k-h5 accent-value">{{ value }}%</span>
                    </ng-template>
                </kendo-arcgauge>
                <div class="budget-summary">
                    <div class="budget-amount">
                        <span class="amount-value">{{
                            intl.formatNumber(15000, customCurrencyOptions)
                        }}</span>
                        <span class="amount-label">{{
                            customMsgService.translate('totalBudget')
                        }}</span>
                    </div>
                    <span class="budget-divider"></span>
                    <div class="budget-amount budget-amount-end">
                        <span class="amount-value">{{
                            intl.formatNumber(7500, customCurrencyOptions)
                        }}</span>
                        <span class="amount-label">{{
                            customMsgService.translate('usedBudget')
                        }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="overview-panel transactions-panel"
        >
            <div class="panel-heading">
                <h6 class="k-h6 panel-title">{{ customMsgService.translate('transactions') }}</h6>
            </div>
            <div class="panel-content">
                <app-transactions-grid [pageSize]="7"></app-transactions-grid>
            </div>
        </div>
    </div>
</div>
