<div class="row">
    <div id="top-bar" class="top-bar col-xs-12 bg-dark d-md-none"></div>
    <div id="nav" 
        class="col-xs-3 bg-dark text-white py-5 k-vbox"
        [@toggleNav]="navState" 
        *ngIf="showNav()"
        >
        <span id="nav-toggle" class="nav-toggle d-md-none"
            (click)="toggleNav()">
            <span class="k-icon k-i-hamburger"></span>
        </span>
        <h1 id="app-title">Issues</h1>
        <p id="app-subtitle">Sample Dashboard</p>
        <hr />
        <p class="h4 mt-5">Project</p>
        <ul class="nav nav-pills flex-column">
            <li class="nav-item" id="dashbaord">
                <a [routerLink]=" ['./dashboard'] " class="nav-link" routerLinkActive="active">Dashboard</a>
            </li>
            <li class="nav-item" id="issues">
                <a [routerLink]=" ['./issues'] " class="nav-link" routerLinkActive="active">Issues</a>
            </li>
        </ul>
        <p class="h4 mt-5">Account</p>
        <ul class="nav nav-pills flex-column">
            <li class="nav-item" id="profile">
                <a [routerLink]=" ['./profile'] " class="nav-link" routerLinkActive="active">My Profile</a>
            </li>
            <li class="nav-item" id="signout">
                <a [routerLink]=" ['./signin'] " class="nav-link" routerLinkActive="active">Sign Out</a>
            </li>
        </ul>
        <hr class="k-flex" />
        <div id="copy">
            <p>Copyright &copy; {{year}},<br /><a href="http://www.progress.com">Progress Software Corporation</a> and/or its subsidiaries or affiliates.</p>
            <p>All Rights Reserved.</p>
        </div>
    </div>
    <main class="col-xs p-4 py-md-5">
        <router-outlet></router-outlet>
    </main>
</div>
