<div
  class="k-d-flex k-flex-column k-border k-border-solid k-border-border k-rounded-lg k-bg-surface-alt"
  style="padding: 20px; box-shadow: 0px 3px 6px 0px rgba(4, 20, 42, 0.06);"
>
  <kendo-grid
    [kendoGridBinding]="gridData"
    [pageable]="true"
    [pageSize]="6"
    [sortable]="true"
    [selectable]="true"
    [columnMenu]="menuSettings"
    [navigable]="true"
    [height]="302"
    [style.width.px]="586"
    size="small"
    scrollable='none'
  >
    <kendo-grid-column field="time" title="Time" [width]="97"></kendo-grid-column>
    
    <kendo-grid-column field="amount" title="Amount" [width]="110">
      <ng-template kendoGridCellTemplate let-dataItem>
        <span [ngClass]="getAmountClass(dataItem.positive)">
          {{ dataItem.amount }}
        </span>
      </ng-template>
    </kendo-grid-column>
    
    <kendo-grid-column field="company" title="Company" [width]="181"></kendo-grid-column>
    
    <kendo-grid-column field="country" title="Ctry." [width]="54" [columnMenu]="false">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div style="display: flex; justify-content: center;" [innerHTML]="getSafeFlag(dataItem.flag)">
        </div>
      </ng-template>
    </kendo-grid-column>
    
    <kendo-grid-column [width]="80" title="Actions">
      <ng-template kendoGridCellTemplate>
        <div class="action-buttons">
          <button kendoButton themeColor="primary" fillMode="flat">View</button>
          <button kendoButton fillMode="flat">Cancel</button>
        </div>
      </ng-template>
    </kendo-grid-column>

    <ng-template
    kendoPagerTemplate
    let-totalPages="totalPages"
    let-currentPage="currentPage"
  >
    <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
    <kendo-pager-numeric-buttons
      [buttonCount]="5"
    ></kendo-pager-numeric-buttons>
    <kendo-pager-next-buttons></kendo-pager-next-buttons>
    <kendo-pager-info></kendo-pager-info>
   
  </ng-template>
  </kendo-grid>
</div>
