<div
    class="transactions-page"
>
    <h4 class="k-h4 page-title">
        {{ customMsgService.translate('transactions') }}
    </h4>
    <div class="transactions-layout">
        <div
            class="transaction-panel transaction-list-panel"
        >
            <div class="panel-heading">
                <h6 class="k-h6 panel-title">
                    {{ customMsgService.translate('personalTransactions') }}
                </h6>
            </div>
            <div class="panel-content">
                <app-transactions-grid
                    [pageSize]="11"
                    (rowSelection)="onRowSelectionChange($event)"
                ></app-transactions-grid>
            </div>
        </div>
        <div
            class="transaction-panel transaction-detail-panel"
        >
            <div class="panel-heading">
                <h6 class="k-h6 panel-title">
                    {{ customMsgService.translate('transactionDetails') }}
                </h6>
            </div>
            <div class="panel-content">
                <app-transaction-detail [transaction]="selectedTransaction"></app-transaction-detail>
            </div>
        </div>
    </div>
</div>
