<div
    class="transactions-page"
>
    <h4 class="k-h4 page-title">
        {{ customMsgService.translate('transactions') }}
    </h4>
    <div class="transactions-layout">
        <kendo-card
            class="transaction-card transaction-list-card"
        >
            <kendo-card-body>
            <div class="card-heading">
                <h6 class="k-h6 card-title">
                    {{ customMsgService.translate('personalTransactions') }}
                </h6>
            </div>
            <div class="card-content">
                <app-transactions-grid
                    [pageSize]="11"
                    (rowSelection)="onRowSelectionChange($event)"
                ></app-transactions-grid>
            </div>
            </kendo-card-body>
        </kendo-card>
        <kendo-card
            class="transaction-card transaction-detail-card"
        >
            <kendo-card-body>
            <div class="card-heading">
                <h6 class="k-h6 card-title">
                    {{ customMsgService.translate('transactionDetails') }}
                </h6>
            </div>
            <div class="card-content">
                <app-transaction-detail [transaction]="selectedTransaction"></app-transaction-detail>
            </div>
            </kendo-card-body>
        </kendo-card>
    </div>
</div>
