// typography
$roboto: 'Roboto', Helvetica, Arial, sans-serif;
$ubunto: 'Ubuntu', sans-serif;

$font-weight-200: 200;

// colors
$white: #fff;
$white-50: rgba(255, 255, 255, .5);


// header
$header-height: 140px;
$header-title-padding: .5rem;
$profile-image-width: 58px;
$profile-image-height: 58px;
$profile-image-margin-top: 2rem;

// footer
$footer-padding: 10px;
$footer-height: 43px;
$footer-font-size: 16px;
$progress-logo-height: 20px;
$progress-logo-width: 100px;

// dropdownlist
$dropdownlist-font-size: 16px;
$dropdownlist-item-selected-bg: #E9ECEF;
$dropdownlist-item-selected-text: #1C7CD5;

// grid
$grid-header-subtitle: 13px;
$grid-row-selection-bg: #007BFF;
$grid-cell-positive-color: #5CB85C;
$grid-cell-negative-color: #D9534F;
$grid-sorting-icon-margin: 4px;
$grid-sorting-icon-right-position: 20px;
