.wrapper {
    padding: var(--kendo-spacing-1px);
    display: flex;
    flex-direction: column;
    gap: calc(var(--kendo-spacing-1\.5) + var(--kendo-spacing-1px));
}

.items-wrapper {
    display: flex;
    flex-direction: column;
    gap: calc(var(--kendo-spacing-1) + var(--kendo-spacing-1px));
}

.item {
    display: flex;
    gap: var(--kendo-spacing-1);
    flex-direction: row;
    align-items: center;
}
