<div class="page-container">
    <div class="login-form">
        <form class="k-form k-form-md" [formGroup]="form" (ngSubmit)="login()">
            <fieldset class="k-form-fieldset">
                <h2 class="form-heading form-header">Event Budgeting</h2>

                <div class="form-container">
                    <kendo-formfield class="username-input">
                        <kendo-label [for]="username" text="Username"></kendo-label>
                        <kendo-textbox
                            #username
                            required
                            formControlName="username"
                            size="large"
                            [clearButton]="true"
                            autocomplete="username"
                        ></kendo-textbox>
                        @if (form.controls["username"].invalid && form.controls["username"].touched) {
                            <kendo-formerror>Enter your username.</kendo-formerror>
                        }
                    </kendo-formfield>

                    <kendo-formfield class="password-input">
                        <kendo-label [for]="password" text="Password"></kendo-label>
                        <kendo-textbox #password required formControlName="password" size="large" [type]="inputType" autocomplete="current-password">
                            <ng-template kendoTextBoxSuffixTemplate>
                                <button
                                    class="show-password"
                                    kendoButton
                                    look="clear"
                                    [svgIcon]="eyeIcon"
                                    type="button"
                                    (click)="toggleVisibility()"
                                ></button>
                            </ng-template>
                        </kendo-textbox>
                        @if (form.controls["password"].invalid && form.controls["password"].touched) {
                            <kendo-formerror>Enter your password.</kendo-formerror>
                        }
                    </kendo-formfield>

                    <button
                        kendoButton
                        class="login-button"
                        size="large"
                        themeColor="primary"
                        type="submit"
                    >
                        <div class="button-icon-text-container">
                            <div class="icon-container">
                                <kendo-svgicon class="login-action-icon" [icon]="loginIcon"></kendo-svgicon>
                            </div>
                            <span class="button-text">Login as Administrator</span>
                        </div>
                    </button>
                </div>

                <div class="text-container">
                    <span class="line-separator"></span>
                    <span class="login-continue-label">or continue as</span>
                    <span class="line-separator"></span>
                </div>

                <div class="buttons-container">
                    <button
                        kendoButton
                        class="event-guest-button"
                        size="large"
                        type="button"
                        routerLink="/tickets"
                        [queryParams]="{ role: 'Guest' }"
                    >
                        <div class="button-icon-text-container">
                            <div class="icon-container">
                                <kendo-svgicon class="login-action-icon" [icon]="usersIcon"></kendo-svgicon>
                            </div>
                            <span class="button-text">Event Guest</span>
                        </div>
                    </button>
                    <button
                        kendoButton
                        class="event-speaker-button"
                        size="large"
                        type="button"
                        routerLink="/speakers"
                        [queryParams]="{ role: 'Speaker' }"
                    >
                        <div class="button-icon-text-container">
                            <div class="icon-container">
                                <kendo-svgicon class="login-action-icon" [icon]="microphoneIcon"></kendo-svgicon>
                            </div>
                            <span class="button-text">Event Speaker</span>
                        </div>
                    </button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
