:root {
  --kendo-font-family: Roboto, sans-serif;
  --kendo-translucency-base: 30%;
}

body {
  margin: 0;
  background-color: var(--kendo-color-app-surface);
  color: var(--kendo-color-on-app-surface);
  font-family: var(--kendo-font-family);
}
