.page-title {
  background-image: url("../../assets/budget-bg.svg");
}

.page-container {
  margin: -125px auto 0;
  max-width: 1136px;

  @media (max-width: 1179.98px) {
    max-width: 100%;
    margin-inline: var(--kendo-spacing-5);
  }
}

.kendo-spreadsheet {
  margin-bottom: var(--kendo-spacing-15);
}