<div class="wrapper">
    <div class="profile-header">
        <h1>My Portfolio</h1>
    </div>
    <div class="d-flex justify-content-center inner-wrapper">
        <div class="inner-section">
            <div class="avatar">
                <img src="../../../assets/user.jpg" width="100" alt="Collin Johnson" />
            </div>
            <h2>Collin Johnson</h2>
            <table>
                <tr>
                    <td>CURRENT VALUE:</td>
                    <td class="large">100 pari</td>
                </tr>
                <tr>
                    <td>24H CHANGE:</td>
                    <td class="green">$20</td>
                </tr>
                <tr>
                    <td>% CHANGE:</td>
                    <td class="green">+1.2</td>
                </tr>
                <tr>
                    <td>TOTAL COST:</td>
                    <td>$9,185</td>
                </tr>
                <tr>
                    <td>TOTAL PROFIT:</td>
                    <td class="red">$-2,638</td>
                </tr>
            </table>
        </div>
        <div class="inner-section">
            <kendo-grid [data]="gridData" [height]="600" >
                <kendo-grid-column field="symbol" title="Symbol" class="symbol-col" width="100"></kendo-grid-column>
                <kendo-grid-column field="name" title="Name"></kendo-grid-column>
                <kendo-grid-column field="price" title="Price" width="100" format="c2">

                </kendo-grid-column>
            </kendo-grid>
        </div>
        <div class="inner-section">
            <kendo-chart style="width: 100%; height: 100%;">
                <kendo-chart-series>
                    <kendo-chart-series-item type="pie"
                            [data]="chartData"
                            [labels]="seriesLabels"
                            field="value"
                            categoryField="category">
                    </kendo-chart-series-item>
                </kendo-chart-series>
                <kendo-chart-legend position="bottom"></kendo-chart-legend>
            </kendo-chart>
        </div>
    </div>
</div>
