@import '../../../styles/variables';

.avatar {
    width: 50%;
    text-align: center;
}

td {
    padding: 8px 12px;
}

td:first-of-type {
    width: 200px;
}

td:last-of-type {
    font-weight: bold;
}

.green {
    color: green;
}

.red {
    color: red;
}

.wrapper {
    padding: 20px 100px;
}

.inner-wrapper {
    padding: 10px 20px;
}

.inner-section {
    width: 33vw;
}

.large {
    font-size: 2em;
}

.profile-header {
    margin-bottom: 30px;
}

.symbol-col {
    color: $grid-row-selection-bg;
}

img {
    border-radius: 50%;
}
