.container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    height: 440px;
    gap: var(--kendo-spacing-8);
    width: 100%;
}

.wrapper {
    min-width: 0;
    display: flex;
    flex-direction: column;
}

@media (max-width: 995px) {
    .container {
        grid-template-columns: minmax(0, 1fr);
        height: auto;
    }

    .wrapper {
        min-height: 20rem;
    }
}
