# Builds and publishes examples to GH pages
name: CD

on:
  push:
    branches:
      - master

env:
  NODE_OPTIONS: --max_old_space_size=6144

jobs:
  build:
    runs-on: ubuntu-24.04

    permissions:
      id-token: write # Required by Akeyless
      contents: read
      packages: read

    steps:
      - name: Use NodeJS v14
        uses: actions/setup-node@v4
        with:
          node-version: "14"

      - name: Check out repository
        uses: actions/checkout@v6

      - name: Build
        working-directory: ./examples
        run: ./bin/build-gh-pages
        env:
          KENDO_UI_LICENSE: ${{ secrets.KENDO_UI_LICENSE }}

      - name: Use NodeJS v20
        uses: actions/setup-node@v6
        with:
          node-version: "20"

      - name: Build Node20 Examples
        run: |
          chmod +x ./examples-standalone/bin/build-gh-pages
          ./examples-standalone/bin/build-gh-pages
        env:
          KENDO_UI_LICENSE: ${{ secrets.KENDO_UI_LICENSE }}

      - name: Copy Node20 Dist
        run: | 
          cp -rf ./examples-standalone/dist/* ./examples/dist
          ls -la ./examples/dist

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: './examples/dist'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
