# Builds and publishes examples to GH pages
name: CD

on:
  push:
    branches:
      - master

defaults:
  run:
    working-directory: ./examples

env:
  NODE_OPTIONS: --max_old_space_size=6144

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Use NodeJS v12
        uses: actions/setup-node@v2
        with:
          node-version: '12'

      - name: Check out repository
        uses: actions/checkout@v2

      - name: Install modules
        run: npm ci

      - name: Activate Kendo UI license
        run: npx kendo-ui-license activate
        env:
          KENDO_UI_LICENSE: ${{ secrets.KENDO_UI_LICENSE }}

      - name: Build
        run: ./bin/build-gh-pages

      - name: Deploy to GH Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ github.token }}
          publish_dir: ./examples/dist
          user_name: 'kendo-bot'
          user_email: 'kendouiteam@progress.com'

      - name: Cleanup
        run: git clean -xdf

